<!-- <div class="pane-head">
	<button type="button" class="close" data-ng-click="panels.close();">×</button>
</div> -->

<div class="pane-body">
	<div class='input-group input-group-sm'>
		<input ng-model="predicate" type='text' placeholder='请输入部门短名称...' class='form-control'>
		<span class='input-group-addon'>
			<span class='glyphicon glyphicon-search'></span>
		</span>
	</div>
	<div ng-if="flag===1" class='menu' ui-tree data-drag-enabled="false">
		<treecontrol class="tree-classic"
			 tree-model="list"
			 filter-expression="predicate"
			 filter-comparator="comparator"
			 options="treeOptions"
			 on-selection="showSelected(node)"
			 selected-node="node1">
			 <span ui-sref="main.data-quota.list({resource_dep_id: node.id, dep_name: node.dep_name})">{{node.dep_short_name}}</span>
		</treecontrol>
	</div>
	<div ng-if="flag===2"class='menu' ui-tree data-drag-enabled="false">
		<treecontrol class="tree-classic"
			 tree-model="OcupationList"
			 filter-expression="predicate"
			 filter-comparator="comparator"
			 options="treeOptions"
			 on-selection="showSelected(node)"
			 selected-node="node1">
			 <span ui-sref="main.data-quota.list({resource_dep_id: node.id, dep_name: node.dep_name})">{{node.dep_short_name}}</span>
		</treecontrol>
	</div>
	<div ng-if="flag===3"class='menu' ui-tree data-drag-enabled="false">
		<treecontrol class="tree-classic"
			 tree-model="areaList"
			 filter-expression="predicate"
			 filter-comparator="comparator"
			 options="treeOptions"
			 on-selection="showSelected(node)"
			 selected-node="node1">
			 <span ui-sref="main.data-quota.list({resource_dep_id: node.id, dep_name: node.dep_name})">{{node.dep_short_name}}</span>
		</treecontrol>
	</div>
</div>
