<div id='data-quota-list'>
  <div class="panel panel-default pannel-patch">
    <div class="panel-heading">
      <i ng-if="currentDep===''" class="fa fa-paperclip"> 条件过滤</i>
      <i ng-if="currentDep!==''" class="fa fa-paperclip"> {{currentDep}}</i>
      <div class="input-group col-xs-3 pull-right input-patch">
        <input ng-model='TargetDataQuotaName' type="text" class="form-control" placeholder="请输入查询指标名称...">
        <span class="input-group-btn">
          <button ng-click='Retrieval()' class="btn btn-default" type="button">查询</button>
        </span>
      </div>

    </div>
    <div class="panel-body">
    <div class='filter'>
      <!-- 信息资源格式 -->
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class="text-muted filter-label">信息资源格式</li>
            <li ng-click="resourceFormatFilter('ALL')">
              <a ng-class='resourceFormatActiveAll'>全部</a>
            </li>
            <li ng-repeat='resourceFormat in resourceFormats' ng-click='resourceFormatFilter(resourceFormat.id, $index)'>
              <a ng-class='resourceFormatActive[$index]'>{{resourceFormat.dict_name}}</a>
            </li>
          </ul>
      </nav>
      </div>
      <!-- 共享级别 -->
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class="text-muted filter-label">共享级别</li>
            <li ng-click="ShareLevelFilter('ALL')">
              <a ng-class='ShareLevelActiveAll'>全部</a>
            </li>
            <li ng-repeat='shareLevel in ShareLevels' ng-click='ShareLevelFilter(shareLevel.id, $index)'>
              <a ng-class='ShareLevelActive[$index]'>{{shareLevel.dict_name}}</a>
            </li>
          </ul>
      </nav>
      </div>
      <!-- 面向社会开放 -->
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class="text-muted filter-label">面向社会开放</li>
            <li ng-click="openToSocietyFilter('ALL')">
              <a ng-class='openToSocietyActiveAll'>全部</a>
            </li>
            <li ng-repeat='openToSociety in openToSocietys' ng-click='openToSocietyFilter(openToSociety.dict_code,  $index)'>
              <a ng-class='openToSocietyActive[$index]'>{{openToSociety.dict_name}}</a>
            </li>
          </ul>
      </nav>
      </div>
      <!-- 更新周期 -->
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class="text-muted filter-label">更新周期</li>
            <li ng-click="ShareFrequencyFilter('ALL')">
              <a ng-class='ShareFrequencyActiveAll'>全部</a>
            </li>
            <li ng-repeat='shareFrequency in ShareFrequencys' ng-click='ShareFrequencyFilter(shareFrequency.id, $index)'>
              <a ng-class='ShareFrequencyActive[$index]'>{{shareFrequency.dict_name}}
              </a>
            </li>
          </ul>
      </nav>
      </div>
      <!-- 分地区数据级别 -->
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class="text-muted filter-label">分地区数据级别</li>
            <li ng-click="DataLevelFilter('ALL')">
              <a ng-class='DataLevelActiveAll'>全部</a>
            </li>
            <li ng-repeat='dataLevel in DataLevels' ng-click='DataLevelFilter(dataLevel.id, $index)'>
              <a ng-class='DataLevelActive[$index]'>{{dataLevel.dict_name}}</a>
            </li>
        </ul>
      </nav>
      </div>
      <!-- 是否涉密 -->
     <div class='indicator-filter'>
       <nav class='pull-left'>
         <ul class="pager issecret">
           <li class="text-muted filter-label ">是否涉密</li>
           <li ng-click="isScretFilter('ALL')">
              <a ng-class='isScretActiveAll' >全部</a>
           </li>
           <li ng-repeat='isScret in isScrets' ng-click='isScretFilter(isScret.id, $index)'>
              <a ng-class='isScretActive[$index]'>{{isScret.dict_name}}</a>
           </li>
        </ul>
       </nav>
     </div>
   </div>
  </div>
 </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-table"> 资源列表</i>
      <span class='icon-list'>
        <i class='fa fa-eye'></i> 全省开放
        <i class='fa fa-desktop blue'></i> 政务云开放
        <i class='fa fa-lock blue'></i> 授权开放
        <i class='fa fa-warning orange'></i> 暂不开放
      </span>
      <span class='pull-right text-info'>共{{DataQuotasTotal}}条</span>
    </div>
    <div class="table-responsive">
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12' >
            <table class='table table-hover table-striped table-bordered text-center table-patch'>
               <thead>
                 <tr>
                   <th ng-hide="true" width="60px" rowspan="2">关注</th>
                   <th width="100px" rowspan="2">标识</th>
                   <th width="40px" rowspan="2">序号</th>
                   <th width="90px" rowspan="2">信息资源名称</th>
                   <th width="90px" rowspan="2">信息资源别称</th>
                   <th width="100px" rowspan="2">信息资源摘要</th>
                   <th width="60px" rowspan="2">信息资源分类</th>
                   <th width="60px" rowspan="2">信息资源格式</th>
                   <th width="300px" colspan="4">信息项信息</th>
                   <th width="60px"></th>
                   <th width="60px"></th>
                   <th width="60px" rowspan="2">计量单位</th>
                   <th width="60px" rowspan="2">计算方法</th>
                   <th width="60px" rowspan="2">共享级别</th>
                   <th width="200px" colspan="2">共享类型与共享条件</th>
                   <th width="80px" rowspan="2">共享方式</th>
                   <th width="210px" colspan="2">开放数据与开放条件</th>
                   <th width="80px" rowspan="2">信息资源提供方</th>
                   <th width="80px" rowspan="2">资源提供方代码</th>
                   <th width="60px" rowspan="2">信息资源目录代码</th>
                   <th width="60px" rowspan="2">关联及类目名称</th>
                   <th width="60px" rowspan="2">空间范围</th>
                   <th width="100px" rowspan="2">分地区数据级别</th>
                   <th width="60px" rowspan="2">联系人</th>
                   <th width="100px" rowspan="2">联系电话</th>
                   <th width="120px" rowspan="2">创建时间</th>
                 </tr>
                 <tr>
                   <th>信息项名称</th>
                   <th>数据类型</th>
                   <th>数据精度</th>
                   <th>数据长度</th>
                   <th>更新周期</th>
                   <th>是否涉密</th>
                   <th>共享类型</th>
                   <th>共享条件</th>
                   <th>是否面向社会开放</th>
                   <th>开放条件</th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat='quota in DataQuotas'>
                  <td ng-hide="true">
                    <div class="checkbox">
                      <label>
                        <input ng-checked='quota.isfollowed' type="checkbox">
                      </label>
                    </div>
                  </td>
                  <td title="{{quota.share_level_name}}">
                    <div ng-if='quota.share_level_name =="全省开放"'>
                      <span>
                        <i class='fa fa-eye'></i>
                      </span>
                    </div>
                    <div ng-if='quota.share_level_name =="省政务云平台开放" '>
                      <span>
                        <i class='fa fa-desktop blue'></i>
                      </span>
                    </div>
                    <div ng-if='quota.share_level_name =="授权开放" '>
                      <span>
                        <i class='fa fa-lock blue'>
                        </i>
                          <a ng-if="quota.showbutton==='-1'" class='btn btn-default btn-xs' ng-click='DataQuotaApplyInfo(quota.id)'>申请查看</a>
                          <a ng-if="quota.showbutton==='0'" title='申请中，等待审核'><i class='fa fa-clock-o text-info'></i></a>
                          <a ng-if="quota.showbutton==='1'" title='申请已通过'><i class='fa fa-check-square-o text-success'></i></a>
                          <a ng-if="quota.showbutton==='2'" title='申请未通过'><i class='fa fa-ban text-warning'></i></a>
                      </span>
                    </div>
                    <div ng-if='quota.share_level_name =="暂不开放" '>
                      <span>
                        <i class='fa fa-warning orange'>
                        </i>
                      </span>
                    </div>
                  </td>
                  <td>{{::$index+(Paging.currentPage-1)*10+1}}</td>
                  <td title='{{quota.resource_name}}'>
                  <a ng-if="(quota.showbutton==='1')||(quota.showbutton==='-2')" ui-sref='main.data-quota.detail({resource_id:quota.id})' ng-class="{true: 'orange', false: 'text-primary'}[(DataQuotas[$index].resource_name === DataQuotas[$index-1].resource_name) && (DataQuotas[$index-1].resource_format_name==='数据库类')]">{{quota.resource_name}}</a>
                  <a ng-if="(quota.showbutton !='1')&&(quota.showbutton !='-2')"  ng-class="{true: 'orange', false: 'text-primary'}[(DataQuotas[$index].resource_name === DataQuotas[$index-1].resource_name) && (DataQuotas[$index-1].resource_format_name==='数据库类')]">{{quota.resource_name}}</a>
                  </td>
                  <td title='{{quota.alias}}' ng-class="{true: 'orange', false: ''}[(DataQuotas[$index].resource_name === DataQuotas[$index-1].resource_name) && (DataQuotas[$index-1].resource_format_name==='数据库类')]">{{quota.alias}}</td>
                  <td title='{{quota.summary}}' ng-class="{true: 'orange', false: ''}[(DataQuotas[$index].resource_name === DataQuotas[$index-1].resource_name) && (DataQuotas[$index-1].resource_format_name==='数据库类')]">{{quota.summary}}</td>
                  <td title='{{quota.category_name}}'ng-class="{true: 'orange', false: ''}[(DataQuotas[$index].resource_name === DataQuotas[$index-1].resource_name) && (DataQuotas[$index-1].resource_format_name==='数据库类')]">{{quota.category_name}}</td>
                  <td title='{{quota.resource_format_name}}' ng-class="{true: 'orange', false: ''}[(DataQuotas[$index].resource_name === DataQuotas[$index-1].resource_name) && (DataQuotas[$index-1].resource_format_name==='数据库类')]">{{quota.resource_format_name}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.item_name}}'>{{quota.item_name}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.item_type_name}}'>{{quota.item_type_name}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.data_precision}}'>{{quota.data_precision}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.data_length}}'>{{quota.data_length}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.update_period}}'>{{quota.update_period}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.secret_flag_name}}'>{{quota.secret_flag_name}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.item_meter_unit}}'>{{quota.item_meter_unit}}</td>
                  <td ng-if="quota.resource_format_name ==='数据库类'" title='{{quota.item_calculate_method}}'>{{quota.item_calculate_method}}</td>

                  <td ng-if="quota.resource_format_name !='数据库类'" ></td>
                  <td ng-if="quota.resource_format_name !='数据库类'" ></td>
                  <td ng-if="quota.resource_format_name !='数据库类'" ></td>
                  <td ng-if="quota.resource_format_name !='数据库类'" ></td>
                  <td ng-if="quota.resource_format_name !='数据库类'" title='{{quota.update_period}}'>{{quota.update_period}}</td>
                  <td ng-if="quota.resource_format_name !='数据库类'" title='{{quota.secret_flag_name}}'>{{quota.secret_flag_name}}</td>
                  <td ng-if="quota.resource_format_name !='数据库类'" title='{{quota.meter_unit}}'>{{quota.meter_unit}}</td>
                  <td ng-if="quota.resource_format_name !='数据库类'" title='{{quota.calculate_method}}'>{{quota.calculate_method}}</td>

                  <td title='{{quota.share_level_name}}'>{{quota.share_level_name}}</td>
                  <td title="{{quota.share_type_name}}">{{quota.share_type_name}}</td>
                  <td title="{{quota.share_limit}}">{{quota.share_limit}}</td>
                  <td title="{{quota.share_method_name}}">{{quota.share_method_name}}</td>
                  <td title="{{quota.social_open_flag_name}}">{{quota.social_open_flag_name}}</td>
                  <td title="{{quota.social_open_limit}}">{{quota.social_open_limit}}</td>
                  <td title='{{quota.resource_provider}}'>{{quota.resource_provider}}</td>
                  <td title='{{quota.resource_provider_code}}'>{{quota.resource_provider_code}}</td>

                  <td title='{{quota.resource_sn}}'>{{quota.resource_sn}}</td>
                  <td title='{{quota.rel_category_name}}'>{{quota.rel_category_name}}</td>
                  <td title='{{quota.area_range}}'>{{quota.area_range}}</td>
                  <td title='{{quota.area_level}}'>{{quota.area_level}}</td>

                  <td title='{{quota.linkman}}'>{{quota.linkman}}</td>
                  <td title='{{quota.contact_phone}}'>{{quota.contact_phone}}</td>
                  <td title='{{quota.create_time | date:"yyyy-MM-dd HH:mm:ss"}}'>{{quota.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
      </div>
    </div>

    <uib-pagination class='pull-right' total-items='Paging.totalItems' ng-model='Paging.currentPage' ng-change='Paging.pageChanged()' items-per-page='Paging.itemsPerPage'  next-text='下一页' previous-text='上一页'></uib-pagination>

  </div>

</div>
