<div id='data-quota-list'>
  <div class="panel panel-default pannel-patch">
    <div class="panel-heading">
      <i class="fa fa-paperclip"> 指标检索</i>
      <div class="input-group col-xs-4 pull-right input-patch">
        <div class="input-group-addon">指标总数 60</div>
        <input type="text" class="form-control" placeholder="请输入查询指标名称...">
        <div class="input-group-addon">查询</div>
      </div>
    </div>
    <div class="panel-body">

      <nav>
        <ul class="pager">
          <li>共享级别</li>
          <li><a>全部</a></li>
          <li ui-sref-active="active" ng-repeat='shareLevel in shareLevelList'><a>{{shareLevel.dict_name}}</a></li>
        </ul>
      </nav>

      <nav>
        <ul class="pager">
          <li>共享频率</li>
          <li><a>全部</a></li>
          <li ng-repeat='shareFreq in shareFrequencyList'><a>{{shareFreq.dict_name}}</a></li>
        </ul>
      </nav>

      <nav>
        <ul class="pager">
          <li>空间范围</li>
          <li><a>全部</a></li>
          <li ng-repeat='DataLevel in dataLevelList'><a>{{DataLevel.dict_name}}</a></li>
        </ul>
      </nav>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-table"> 指标表格</i>
      <ul class="icon-list nav nav-filter pull-right">
          <li class='pull-left'>
            <i class="fa fa-eye">&nbsp;全开放</i>
          </li>
          <li class='pull-left'>
            <i class="fa fa-desktop">&nbsp;政务云开放</i>
          </li>
          <li class='pull-left'>
            <i class="fa fa-lock">&nbsp;授权开放</i>
          </li>
          <li class='pull-left'>
            <i class="fa fa-warning warning">&nbsp;暂不开放</i>
          </li>
        </ul>
    </div>
    <div class="table-responsive">
        <table class='table table-hover table-striped table-bordered table-patch'>
           <thead>
             <tr>
               <th>关注</th>
               <th>序号</th>
               <th>标识</th>
               <th>指标编号</th>
               <th>指标名称</th>
               <th>指标别称</th>
               <th>计量单位</th>
               <th>指标详细解释</th>
               <th>计算方法</th>
               <th>共享频率</th>
               <th>空间范围</th>
               <th>分地区数据级别</th>
               <th>来源部门</th>
               <th>共享级别</th>
               <th>数据存储类型</th>
               <th>数据精度</th>
               <th>数据长度</th>
               <th>创建时间</th>
               <th>数据表示格式</th>
               <th>是否涉密</th>
               <th>联系人</th>
               <th>联系电话</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat='quota in DataQuotas' ui-sref='main.data-quota.detail({data_quota_id:quota.id})'>
              <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
              </td>
              <td>{{$index}}</td>
              <td>
                <span class="glyphicon glyphicon-eye-open"></span>
              </td>
              <td>{{quota.quota_sn}}</td>
              <td>{{quota.quota_name}}</td>
              <td>{{quota.alias}}</td>
              <td>{{quota.meter_unit}}</td>
              <td>{{quota.quota_detail}}</td>
              <td>{{quota.calculate_method}}</td>
              <td>{{quota.area_range}}</td>
              <td>{{quota.area_range}}</td>
              <td>{{quota.regionallevel}}</td>
              <td>{{quota.depname}}</td>
              <td>{{quota.regionallevel}}</td>
              <td>{{quota.datastoretype}}</td>
              <td>{{quota.data_precision}}</td>
              <td>{{quota.data_length}}</td>
              <td>{{quota.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td>{{quota.datashowformat}}</td>
              <td>{{quota.secretflag}}</td>
              <td>{{quota.linkman}}</td>
              <td>{{quota.contact_phone}}</td>
             </tr>
           </tbody>
         </table>

    </div>

  </div>

</div>
