#department-audit {
  margin-left: 170px;
  .indicator-order {
    overflow: hidden;
    border-bottom: 1px solid #777;
    padding: 10px 0 5px 0;
    ul>li {
      margin:0 20px;
      a {
        padding: 6px 12px;
      }
    }
    ul>li.indicator-total{
      height: 34px;
      line-height: 40px;
      .num{
        font-size:20px;
        font-weight:bold;
        padding: 0 6px;
      }
    }
  }
  .indicator-list {
    .scroll{
      overflow: scroll;
    }
    ul.nav-filter{
      list-style:none;
      li{
        display:inline-block;
        a{
          padding: 4px 15px;
          i{
            font-size:24px;
          }
          i.fa-stop-circle-o {
            color:#d9534f;
          }
          i.fa-check-circle-o {
            color:#5cb85c;
          }
          i.fa-hand-o-up{
            color:#f0ad4e;
          }
        }
      }
    }
  }
}
