#department-audit-info{
  margin-left:170px;
  .audit-wrap{
    padding: 48px;
    .audit-box{
      border:1px solid #CCC;
      padding:15px;
      .item-icon{
        padding: 0 40px;
      }
      .item-label{
        padding:7px 0;
      }
      .dl-inline-block{
        dt,dd{
          line-height:35px;
          display:inline-block;
        }
      }
      .apply-dept{
        padding: 7px 13px;
      }
    }
  }


}
