#department-inventory-detail {
  margin-left: 170px;
  overflow: hidden;
  margin-bottom: 80px;
  .nav-tabs{
    bottom:0 ;
  }
  .tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 20px 15px 10px 15px;
    .data-title{
      text-align:center;
    }
    .tab-pane>.row{
      padding:4px 0;
    }
    #invntDetail {
      .text-right {
        text-align: right;
      }
    }
  }
}
