#department-main {
  .left {
    padding-left: 0;
  }
  .right {
    padding-right: 0;
  }
  table {
    table-layout: fixed;
    tr {
      td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
