#department-requirement-confirm {
  margin-left: 170px;
  .indicator-order {
    overflow: hidden;
    border-bottom: 1px solid #777;
    padding: 10px 0 5px;
    ul>li {
      margin: 0 20px;
      a {
        padding: 6px 12px;
      }
    }
    ul>li.indicator-total {
      height: 34px;
      line-height: 40px;
      .num {
        font-size: 20px;
        font-weight: bold;
        padding: 0 6px;
      }
    }
  }
  .indicator-list {
    ul.nav-filter {
      list-style: none;
      li {
        display: inline-block;
        margin-left: 20px;
        span {
          padding: 0 15px;
          i {
            font-size: 24px;
          }
          i.fa-check-circle {
            color: #5cb85c;
          }
          i.fa-times-circle-o {
            color: #d9534f;
          }
        }
      }
    }
  }
  .publish-req-modal {
    .help-info {
      font-size: 12px;
      color: #777;
    }
  }
}
.confirm-req-modal {
  .table>tbody>tr>td {
    border: none;
  }
}
