#department-requirement-detail{
  margin-bottom: 50px;
  font-size:13px;
  .dl-horizontal{
    dd{
      word-wrap: break-word;
    }
    dt,dd{
      line-height:26px;
    }
  }
  .response-items {
    clear:right;
    .response-item {
      overflow: hidden;
      padding: 15px 0;
      border-top: 1px solid #CCC;
      margin-top: 16px;
    }
  }
}
