#department-requirement-detail{
  margin-left:170px;
  overflow: hidden;
  margin-bottom: 80px;
  .dl-horizontal{
    dt,dd{
      line-height:35px;
    }
  }
  .response-items {
    clear:right;
    .response-item {
      overflow: hidden;
      padding: 15px 0;
      border-top: 1px solid #CCC;
      margin-top: 16px;
    }
  }
}
