#department-share {
  margin-left: 170px;
  .indicator-order {
    overflow: hidden;
    border-bottom: 1px solid #777;
    padding: 10px 0 5px;
    ul>li {
      margin: 0 20px;
      a {
        padding: 6px 12px;
      }
    }
    ul>li.indicator-total {
      height: 34px;
      line-height: 40px;
      .num {
        font-size: 20px;
        font-weight: bold;
        padding: 0 6px;
      }
    }
  }
  .filter {
    border-bottom: 1px solid #DDD;
    padding: 15px 0;
    margin-bottom: 10px;
    .indicator-filter {
      margin: 0;
      font-size: 13px;
      overflow: hidden;
      ul.pager {
        margin: 0 0 15px;
      }
      ul>li>a.active {
        background: #DDD;
      }
      ul>li>a.inactive {
        background: #FFF;
      }
      ul>li>a .badge {
        background: #337AB7;
        margin-left: 4px;
      }
    }
  }
  .indicator-list {
    .scroll {
      overflow: scroll;
    }
    ul.nav-filter {
      list-style: none;
      li {
        display: inline-block;
        span {
          padding: 4px 15px;
          i {
            font-size: 24px;
          }
          i.fa-eye {
            color: #5bc0de;
          }
          i.fa-desktop {
            color: #5bc0de;
          }
          i.fa-lock {
            color: #5bc0de;
          }
          i.fa-warning {
            color: #f0ad4e;
          }
        }
      }
    }
    table{
      tr{
        span{
          i{
            font-size:18px;
          }
          i.fa-eye{
            color:#5bc0de;
          }
          i.fa-desktop {
            color: #5bc0de;
          }
          i.fa-lock{
            color: #5bc0de;
          }
          i.fa-warning {
            color:#f0ad4e;
          }
        }
      }
    }
  }
}
