#data-quota-list{
  .quota-detail{
    font-size: 13px;
    .list-group {
      margin-top: 6px;
    }
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: -9px;
  }
  .quota-example{
    .table-responsive{
      margin-top: 0;
    }
  }
}
