#data-quota-list{
  .input-patch{
    position: relative;
    top: -7px;
    right: -12px;
  }
  .pager{
    text-align:left;
    margin: 8px;
    li {
      margin-left: 6px;
    }
  }
  .table-patch {
    td, th{
      max-width: 200px;
      word-break: keep-all;
      word-wrap: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      vertical-align:middle;
    }
  }
  .pannel-patch{
    margin-bottom: 10px;
  }
  .blue {
    color: #337AB7;
  }
  .orange {
    color: #F07746;
  }
  .icon-list{
    font-size: 13px;
    li{
      margin-left: 15px;
    }
  }
}
