#data-quota-list{
  .table {
    margin-bottom: 0 !important;
  }
  .input-patch{
    position: relative;
    top: -7px;
    right: -12px;
  }
  .filter {
    border-bottom: 0 solid #DDD;
    padding: 15px 0;
    .indicator-filter {
      margin: 0;
      font-size: 13px;
      overflow: hidden;
      ul.pager {
        .filter-label {
          width: 110px;
          text-align: right;
          display: inline-block;
          padding-right: 12px;
        }
        margin: 0 0 15px;
      }
      ul.pager.dataLevelStyle {
        margin-bottom:0;
      }
    }
  }
  .col-lg-12 {
    padding-left: inherit;

  }
  table {
    table-layout:automatic;
    td, th{
      height: 50px;
      max-width: 200px;
      word-break: keep-all;
      word-wrap: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
    }
    td {
        text-align: left;
    }
  }
  .pannel-patch {
    margin-bottom: 10px;
  }
  .panel-body {
    padding: 5px;
  }
  .blue {
    color: #337AB7;
  }
  .orange {
    color: #F07746;
  }
  .icon-list{
    font-size: 12px;
    i{
      margin-left: 15px;
    }
  }
  .table-responsive{
    height: 628px;
    td {
      max-width: 165px;
      text-overflow: ellipsis;
    }
  }
  .pager{
    li {
      cursor: pointer;
      a:ACTIVE {
        font-weight: bold;
      }
      .active {
        background: #E9E9E9;
        font-weight: bolder;
      }
    }
  }
}
