#data-quota-list{
  .input-patch{
    position: relative;
    top: -7px;
    right: -12px;
  }
  .pager{
    text-align:left;
    margin: 8px;
    li {
      margin-left: 6px;
    }
  }
  .table-patch {
    td, th{
      word-break: keep-all;
      word-wrap: normal;
      text-overflow: ellipsis;
      table-layout: fixed;
    }
  }
  .pannel-patch{
    margin-bottom: 10px;
  }
}
