#data-quota-main{
  .left.col-md-1.buttonType {
    width: 45px;
  }
  .left{
    padding-left: 10px;
    padding-right: 0;
    .panel-heading {
      cursor: pointer;
    }
    .toggler {
      font-size: 15px;
      border-radius: 1px;
      box-shadow: 10px 10px 5px #888888;
    }
    .panel-heading:HOVER{
      color: #337AB9;
    }
    .panel-heading:ACTIVE{
      font-weight: bolder;
      color: #337AB9;
    }
    .menu{
      margin: 10px 0;
      padding: 0;
      font-size: 13px;
      li{
        padding-left: 15px;
      }
    }
    .list-group {
      .list-group-item {
        cursor: pointer;
      }
      .list-group-item:HOVER {
        background: #FBFBFB;
        color: #337AC8;
      }
    }
    [type=tabs] {
      margin-left: 2px;
      a {
        margin-right: 0;
        padding: 5px 14px;
      }
      .menu {
        margin-top: 20px;
      }
    }
  }
  .right{
    width: 926px;
    padding-right: 0;
    padding-left: 0;
  }
  .sidebar1 {
    margin-right: 4px;
    will-change: transform;
  }
  .content-collapse {
    position: relative;
    margin-left: -191px;
    width: 1117px;
  }


}
