#requirement-detail {
  .top{

  }
  .bottom{
    .head{
      display: inline-block;
      button{
        float:left;
        margin-right: 3rem;
        margin-left: 0;
        margin-bottom: 5px;
        font-size: 13px;
      }
    }
    .body{
      display: block;
    }
    .btn{
      margin-left: 15px;
    }
  }
}
