@charset "utf-8";
/* Reset Global */
body,
html {
  height: 100%;
  width: 100%;
}
/* Define UI View */
#ui-view-login {
  height: 100%;
  width: 100%;
}
.pannel-patch {
  margin-bottom: 12px !important;
}
.navbar-patch {
  margin-bottom: 12px !important;
}
/* Xulan */
.margin-bottom25 {
  margin-bottom: 25px;
}
.font-80 {
  font-size: 80px;
}
.font-40 {
  font-size: 40px;
}
.sidebar {
  position: absolute;
  width: 180px;
}
.font-50 {
  font-size: 50px;
}
.font-18 {
  font-size: 18px;
}
.font-13 {
  font-size: 13px;
}
.margin-top14 {
  margin-top: 14px;
}
.require-sign {
  color: red;
  padding: 4px;
}
.modal-content {
  width: 800px !important;
}
.custom-form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#login {
  height: 100%;
  background: #EEE;
}
#login .title {
  padding: 15px 0 15px 80px;
}
#login .login-wrap {
  background: url(/styles/images/bg.png) no-repeat;
  background-size: 100% 100%;
  height: 66%;
}
#login .login-wrap .login-main {
  position: relative;
  top: 6rem;
  right: 15rem;
}
#login .login-wrap .login-main .login-head {
  text-align: center;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 0.5em 1em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 rgba(0, 0, 0, 0);
}
#login .login-wrap .login-main .login-head .title {
  font-weight: bold;
  color: #555555;
}
#login .login-wrap .login-main .login-body {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 4em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
#login .login-wrap .login-main .login-body .input-group {
  margin-bottom: 3em;
}
#login .login-wrap .login-main .login-body button {
  position: relative;
  width: 100%;
}
#main .logo {
  display: inline-block;
  width: 370px;
  height: 40px;
  margin: 3px 25px 0 -15px;
  background: url('images/logo.png') no-repeat;
  background-size: 370px 40px;
}
#main .nav-tabs {
  position: relative;
  bottom: -7px;
}
#main .btn-login {
  position: relative;
  top: 7px;
  right: -15px;
}
#dashboard .left {
  padding: 0;
}
#dashboard .right {
  padding-right: 0;
  padding-left: 11px;
}
#dashboard .first-section .panel {
  height: 310px;
}
#dashboard .first-section .bureau-filter {
  width: 95%;
  margin-left: 15px;
}
#dashboard .first-section .bureau-filter .input-group-addon {
  cursor: pointer;
}
#dashboard .first-section .bureau-list {
  margin-top: 1.2rem;
  height: 195px;
  width: 99%;
  overflow-y: scroll;
}
#dashboard .first-section .bureau-list .bureau-item {
  display: inline-block;
}
#dashboard .first-section .bureau-list .bureau-item .thumbnail {
  margin-bottom: 3px;
}
#dashboard .first-section .bureau-list .bureau-item .caption {
  height: 16px;
  font-size: 12px;
  text-align: center;
}
#dashboard .second-section .panel {
  height: 291px;
}
#dashboard .third-section .panel {
  height: 300px;
}
#department-main .sidebar {
  position: absolute;
  width: 140px;
}
#department-main .sidebar li.sub-item {
  padding-left: 40px;
}
#department-main .department-main {
  margin-left: 170px;
}
#department-main .panel-heading {
  overflow: hidden;
}
#department-main .panel-footer {
  font-size: 12px;
}
#department-main .panel-green {
  border-color: #5cb85c;
}
#department-main .panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
#department-main .panel-green .panel-footer {
  color: #5cb85c;
}
#department-main .panel-yellow {
  border-color: #f0ad4e;
}
#department-main .panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
#department-main .panel-yellow .panel-footer {
  color: #f0ad4e;
}
#department-main .panel-red {
  border-color: #d9534f;
}
#department-main .panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
#department-main .panel-red .panel-footer {
  color: #d9534f;
  height: 38px;
}
#department-inventory {
  margin-left: 170px;
}
#department-inventory .indicator-order {
  overflow: hidden;
  border-bottom: 1px solid #777;
}
#department-inventory .indicator-filter {
  margin: 5px 10px 5px 0;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
#department-inventory .indicator-filter ul > li > a.active {
  background: #DDD;
}
#department-inventory .indicator-filter ul > li > a.inactive {
  background: #FFF;
}
#department-inventory .indicator-filter .filter-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#department-inventory .indicator-filter .filter-list {
  display: inline-block;
}
#department-inventory .indicator-list .list-box {
  clear: right;
  padding: 15px 0 0;
  list-style: none;
}
#department-inventory .indicator-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#department-inventory .indicator-list .list-box .item-heading .options {
  padding-left: 86px;
  font-size: 14px;
}
#department-inventory .indicator-list .list-box .item-heading .options a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0 5px;
  cursor: pointer;
}
#department-inventory .indicator-list .list-box .item-icon {
  padding: 8px 20px 0 4px;
}
#department-inventory .indicator-list .list-box .item-icon img {
  width: 100px;
}
#department-inventory .indicator-list .list-box .media-body {
  position: relative;
}
#department-inventory .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#department-inventory .indicator-list .list-box .media-body .item-label {
  position: absolute;
  right: 15px;
  top: 5px;
}
#inventory-publish {
  margin-left: 170px;
}
#inventory-publish .navbar .nav-pills li a {
  background-color: #fff !important;
  background-image: none !important;
  filter: none !important;
  border: 0;
  box-shadow: none !important;
}
#inventory-publish .navbar .nav-pills li a .number {
  background-color: #eee;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 15px !important;
  margin-right: 10px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  color: #777;
}
#inventory-publish .navbar .nav-pills li a .desc {
  display: inline-block;
  font-size: 14px;
  color: #777;
}
#inventory-publish .navbar .nav-pills li.active a .number {
  background-color: #35aa47;
  color: #fff;
}
#inventory-publish .navbar .nav-pills li.active a .desc {
  color: #333;
}
#inventory-publish .indicator-add-modal .help-info {
  font-size: 12px;
  color: #777;
}
#department-share {
  margin-left: 170px;
}
#department-share .indicator-order {
  overflow: hidden;
  border-bottom: 1px solid #777;
}
#department-share .indicator-filter {
  margin: 5px 10px 5px 0;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
#department-share .indicator-filter ul > li > a.active {
  background: #DDD;
}
#department-share .indicator-filter ul > li > a.inactive {
  background: #FFF;
}
#department-share .indicator-filter .filter-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#department-share .indicator-filter .filter-list {
  display: inline-block;
}
#department-share .indicator-list .list-box {
  clear: right;
  padding: 15px 0 0;
  list-style: none;
}
#department-share .indicator-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#department-share .indicator-list .list-box .item-heading .options {
  padding-left: 86px;
  font-size: 14px;
}
#department-share .indicator-list .list-box .item-heading .options a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0 5px;
  cursor: pointer;
}
#department-share .indicator-list .list-box .item-icon {
  padding: 8px 20px 0 4px;
}
#department-share .indicator-list .list-box .item-icon img {
  width: 100px;
}
#department-share .indicator-list .list-box .media-body {
  position: relative;
}
#department-share .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#department-share .indicator-list .list-box .media-body .item-label {
  position: absolute;
  right: 15px;
  top: 5px;
}
#department-share .indicator-list .list-box .media-body .audit-status-icon {
  position: absolute;
  right: 15px;
  top: 10px;
}
#department-share .indicator-list .list-box .media-body .audit-info {
  position: absolute;
  top: 18px;
}
#department-requirement {
  margin-left: 170px;
}
#department-requirement .indicator-order {
  overflow: hidden;
  border-bottom: 1px solid #777;
  margin-bottom: 5px;
}
#department-requirement .indicator-list .list-box {
  clear: right;
  padding: 15px 0 0;
  list-style: none;
}
#department-requirement .indicator-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#department-requirement .indicator-list .list-box .item-heading .options {
  padding-left: 86px;
  font-size: 14px;
}
#department-requirement .indicator-list .list-box .item-heading .options a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0 5px;
  cursor: pointer;
}
#department-requirement .indicator-list .list-box .item-icon {
  padding: 8px 20px 0 4px;
}
#department-requirement .indicator-list .list-box .item-icon img {
  width: 100px;
}
#department-requirement .indicator-list .list-box .media-body {
  position: relative;
}
#department-requirement .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#department-requirement-detail {
  margin-left: 170px;
}
#department-requirement-detail .dl-horizontal dt,
#department-requirement-detail .dl-horizontal dd {
  line-height: 35px;
}
#department-requirement-detail .response-items {
  clear: right;
}
#department-requirement-detail .response-items .response-item {
  overflow: hidden;
  padding: 15px 0;
  border-top: 1px solid #CCC;
  margin-top: 16px;
}
#department-requirement-publish {
  margin-left: 170px;
}
#department-audit {
  margin-left: 170px;
}
#department-audit .indicator-order {
  overflow: hidden;
  border-bottom: 1px solid #777;
}
#department-audit .indicator-filter {
  margin: 5px 10px 5px 0;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
#department-audit .indicator-filter ul > li > a.active {
  background: #DDD;
}
#department-audit .indicator-filter ul > li > a.inactive {
  background: #FFF;
}
#department-audit .indicator-filter .filter-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#department-audit .indicator-filter .filter-list {
  display: inline-block;
}
#department-audit .indicator-list .list-box {
  clear: right;
  padding: 15px 0 0;
  list-style: none;
}
#department-audit .indicator-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#department-audit .indicator-list .list-box .item-heading .options {
  padding-left: 86px;
  font-size: 14px;
}
#department-audit .indicator-list .list-box .item-heading .options a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0 5px;
  cursor: pointer;
}
#department-audit .indicator-list .list-box .item-icon {
  padding: 8px 20px 0 4px;
}
#department-audit .indicator-list .list-box .item-icon img {
  width: 100px;
}
#department-audit .indicator-list .list-box .media-body {
  position: relative;
}
#department-audit .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
  font-size: 14px;
}
#department-audit-info {
  margin-left: 170px;
}
#department-audit-info .audit-wrap {
  padding: 48px;
}
#department-audit-info .audit-wrap .audit-box {
  border: 1px solid #CCC;
  padding: 15px;
}
#department-audit-info .audit-wrap .audit-box .item-icon {
  padding: 0 40px;
}
#department-audit-info .audit-wrap .audit-box .item-label {
  padding: 7px 0;
}
#department-audit-info .audit-wrap .audit-box .dl-inline-block dt,
#department-audit-info .audit-wrap .audit-box .dl-inline-block dd {
  line-height: 35px;
  display: inline-block;
}
#department-audit-info .audit-wrap .audit-box .apply-dept {
  padding: 7px 13px;
}
#department-user {
  margin-left: 170px;
}
#department-user .user-wrap {
  overflow: hidden;
  padding: 15px;
}
#department-user .user-list {
  clear: right;
}
#inventory-main .left {
  padding: 0;
}
#inventory-main .left .department-list .list-group {
  height: 50rem;
  overflow-y: scroll;
}
#inventory-main .left .department-list .list-group a {
  font-size: 14px;
  text-overflow: clip;
}
#inventory-main .right {
  padding-right: 0;
  padding-left: 10px;
}
#inventory-main .right .filter-condition {
  margin-top: -5px;
  margin-right: -10px;
}
#inventory-main .right .filter {
  font-size: 11px !important;
}
#inventory-main .right .filter .pager {
  margin: 0 0 15px 0;
}
#inventory-main .right .filter .pager .badge {
  background: #337AB7;
}
#inventory-main .right .filter a {
  padding: 3px 8px;
  margin-left: 6px;
}
#inventory-main .right .filter .shared-level {
  display: block;
}
#inventory-main .right .filter .shared-range {
  display: block;
}
#inventory-main .right .filter .shared-range .pager {
  margin: 0;
}
#inventory-main .right .content .icon.test {
  height: 60px;
  width: 90px;
  margin-top: 5px;
}
#inventory-main .right .content .organization {
  background-image: url('images/indicator/indicator-organization.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#inventory-main .right .content .project {
  background-image: url('images/indicator/indicator-project.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#inventory-main .right .content .achievement {
  background-image: url('images/indicator/indicator-achievement.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#inventory-main .right .content .information {
  margin-left: 10px;
}
#inventory-main .right .content .information h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 6px 20px 10px;
}
#inventory-main .right .content .information h2 {
  font-size: 13px;
  margin: 7px 20px;
}
#inventory-main .right .content .information ul {
  margin: 0px 15px;
  font-size: 12px;
}
#inventory-main .right .content .information ul li {
  color: #777777;
}
#indicator-detail .content .icon.test {
  height: 60px;
  width: 90px;
  margin-top: 5px;
}
#indicator-detail .content .organization {
  background-image: url('images/indicator/indicator-organization.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#indicator-detail .content .project {
  background-image: url('images/indicator/indicator-project.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#indicator-detail .content .achievement {
  background-image: url('images/indicator/indicator-achievement.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#indicator-detail .content .information {
  margin-left: 10px;
}
#indicator-detail .content .information h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 6px 20px 10px;
}
#indicator-detail .content .information h2 {
  font-size: 13px;
  margin: 7px 20px;
}
#indicator-detail .content .information ul {
  margin: 0px 15px;
  font-size: 12px;
}
#indicator-detail .content .information ul li {
  color: #777777;
}
#indicator-detail .table {
  font-size: 12px;
}
#requirement-main {
  padding: 0;
}
#requirement-main .breadcrumb section {
  position: relative;
  top: -2px;
  right: -15px;
}
#requirement-main .content .icon.test {
  height: 60px;
  width: 90px;
  margin-top: 5px;
}
#requirement-main .content .organization {
  background-image: url('images/indicator/indicator-organization.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#requirement-main .content .project {
  background-image: url('images/indicator/indicator-project.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#requirement-main .content .achievement {
  background-image: url('images/indicator/indicator-achievement.png');
  background-size: 90px 60px;
  background-repeat: no-repeat;
}
#requirement-main .content .information {
  margin-left: 10px;
}
#requirement-main .content .information h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 6px 20px 10px;
}
#requirement-main .content .information h2 {
  font-size: 13px;
  margin: 7px 20px;
}
#requirement-main .content .information ul {
  margin: 0px 15px;
  font-size: 12px;
}
#requirement-main .content .information ul li {
  color: #777777;
}
#requirement-detail .bottom .head {
  display: inline-block;
}
#requirement-detail .bottom .head button {
  float: left;
  margin-right: 3rem;
  margin-left: 0;
  margin-bottom: 5px;
  font-size: 13px;
}
#requirement-detail .bottom .body {
  display: block;
}
#requirement-detail .bottom .btn {
  margin-left: 15px;
}
