@charset "utf-8";
/* Reset Global */
body,
html {
  height: 100%;
  width: 100%;
}
/* Define UI View */
#ui-view-login {
  height: 100%;
  width: 100%;
}
#ui-view-main {
  margin: 6px 8px;
}
/* Xulan */
.margin-bottom25 {
  margin-bottom: 25px;
}
.font-80 {
  font-size: 80px;
}
.font-40 {
  font-size: 40px;
}
.sidebar {
  position: absolute;
  width: 180px;
}
.font-50 {
  font-size: 50px;
}
.font-18 {
  font-size: 18px;
}
.font-13 {
  font-size: 13px;
}
.margin-top14 {
  margin-top: 14px;
}
#login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #DADADA;
}
#login .login-main {
  position: relative;
  top: 15rem;
}
#login .login-main .login-head {
  text-align: center;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 0.5em 1em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 rgba(0, 0, 0, 0);
}
#login .login-main .login-head .title {
  font-weight: bold;
  color: #555555;
}
#login .login-main .login-body {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
#login .login-main .login-body .input-group {
  margin-bottom: 1em;
}
#login .login-main .login-body button {
  position: relative;
  left: 23px;
  width: 90%;
}
#main .panel-row-one {
  height: 290px;
  overflow: hidden;
}
#main .panel-heading {
  overflow: hidden;
}
#main .depart-logos {
  padding: 24px 20px;
}
#department-main .sidebar {
  position: absolute;
  width: 140px;
}
#department-main .department-main {
  margin-left: 170px;
}
#department-main .panel-heading {
  overflow: hidden;
}
#department-main .panel-footer {
  font-size: 12px;
}
#department-main .panel-green {
  border-color: #5cb85c;
}
#department-main .panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
#department-main .panel-green .panel-footer {
  color: #5cb85c;
}
#department-main .panel-yellow {
  border-color: #f0ad4e;
}
#department-main .panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
#department-main .panel-yellow .panel-footer {
  color: #f0ad4e;
}
#department-main .panel-red {
  border-color: #d9534f;
}
#department-main .panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
#department-main .panel-red .panel-footer {
  color: #d9534f;
  height: 38px;
}
#department-inventory {
  margin-left: 180px;
  padding: 0 0 0 25px;
}
#department-inventory .indicator-order {
  overflow: hidden;
  border-bottom: 1px solid #777;
}
#department-inventory .indicator-filter {
  margin: 5px 10px 0;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
#department-inventory .indicator-filter .filter-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#department-inventory .indicator-filter .filter-list {
  display: inline-block;
}
#department-inventory .indicator-list .list-box {
  padding: 15px 0 0;
  list-style: none;
}
#department-inventory .indicator-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#department-inventory .indicator-list .list-box .item-heading .options {
  padding-left: 86px;
  font-size: 14px;
}
#department-inventory .indicator-list .list-box .item-heading .options a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0 5px;
  cursor: pointer;
}
#department-inventory .indicator-list .list-box .item-icon {
  padding: 8px 20px;
}
#department-inventory .indicator-list .list-box .media-body {
  position: relative;
}
#department-inventory .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#department-inventory .indicator-list .list-box .media-body .item-label {
  position: absolute;
  right: 15px;
  top: 5px;
}
#department-inventory .indicator-list .list-box .media-body .item-label label {
  display: inline-block;
  width: 80px;
  height: 24px;
  border: 1px solid;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
#department-inventory .indicator-list .list-box .media-body .item-label .border-primary {
  border-color: #337ab7;
  color: #337ab7;
}
#department-inventory .indicator-list .list-box .media-body .item-label .border-info {
  border-color: #5cb85c;
  color: #5cb85c;
}
#inventory-main .indicator-main {
  margin-left: 180px;
  padding: 0 0 0 25px;
}
#inventory-main .indicator-main .indicator-order {
  overflow: hidden;
  border-bottom: 1px solid #777;
}
#inventory-main .indicator-main .indicator-filter {
  margin: 5px 10px 0;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
#inventory-main .indicator-main .indicator-filter .filter-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#inventory-main .indicator-main .indicator-filter .filter-list {
  display: inline-block;
}
#inventory-main .indicator-main .indicator-list .list-box {
  padding: 15px 0 0;
  list-style: none;
}
#inventory-main .indicator-main .indicator-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#inventory-main .indicator-main .indicator-list .list-box .item-icon {
  padding: 8px 20px;
}
#inventory-main .indicator-main .indicator-list .list-box .media-body {
  position: relative;
}
#inventory-main .indicator-main .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#inventory-main .indicator-main .indicator-list .list-box .media-body .item-label {
  position: absolute;
  right: 15px;
  top: 5px;
}
#inventory-main .indicator-main .indicator-list .list-box .media-body .item-label .border-primary {
  border-color: #337ab7;
  color: #337ab7;
}
#inventory-main .indicator-main .indicator-list .list-box .media-body .item-label .border-info {
  border-color: #5cb85c;
  color: #5cb85c;
}
#indicator-detail .indicator-main {
  padding: 0 0 0 25px;
}
#indicator-detail .indicator-main .indicator-list .list-box {
  padding: 15px 0 0;
  list-style: none;
}
#indicator-detail .indicator-main .indicator-list .list-box .item-icon {
  padding: 0px 30px;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body {
  position: relative;
  vertical-align: middle;
  padding: 0 30px;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body {
  position: relative;
  vertical-align: middle;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body .item-label {
  position: absolute;
  right: 20px;
  top: 30px;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body .item-label label {
  display: inline-block;
  width: 80px;
  height: 24px;
  border: 1px solid;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body .item-label .border-primary {
  border-color: #337ab7;
  color: #337ab7;
}
#indicator-detail .indicator-main .indicator-list .list-box .media-body .item-label .border-info {
  border-color: #5cb85c;
  color: #5cb85c;
}
#requirement-main .requirement-main {
  padding: 0 0 0 25px;
}
#requirement-main .requirement-main .requirement-info {
  overflow: hidden;
  border-bottom: 1px solid #777;
}
#requirement-main .requirement-main .requirement-info .breadcrumb {
  margin-bottom: 0;
  background: none;
}
#requirement-main .requirement-main .requirement-info .nav-pills li {
  padding-right: 10px;
}
#requirement-main .requirement-main .requirement-filter {
  margin: 5px 10px 0;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
#requirement-main .requirement-main .requirement-filter .filter-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
#requirement-main .requirement-main .requirement-filter .filter-list {
  display: inline-block;
}
#requirement-main .requirement-main .requirement-list .list-box {
  padding: 15px 0 0;
  list-style: none;
}
#requirement-main .requirement-main .requirement-list .list-box .item-heading {
  overflow: hidden;
  padding: 5px 25px 5px 10px;
  font-size: 12px;
  color: #777;
}
#requirement-main .requirement-main .requirement-list .list-box .item-icon {
  padding: 8px 20px;
}
#requirement-main .requirement-main .requirement-list .list-box .media-body {
  position: relative;
}
#requirement-main .requirement-main .requirement-list .list-box .media-body .main-heading {
  line-height: 28px;
}
#requirement-main .requirement-main .requirement-list .list-box .media-body .item-label {
  position: absolute;
  right: 15px;
  top: 5px;
}
#requirement-main .requirement-main .requirement-list .list-box .media-body .item-label label {
  display: inline-block;
  width: 80px;
  height: 24px;
  border: 1px solid;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
#requirement-main .requirement-main .requirement-list .list-box .media-body .item-label .border-primary {
  border-color: #337ab7;
  color: #337ab7;
}
#requirement-main .requirement-main .requirement-list .list-box .media-body .item-label .border-info {
  border-color: #5cb85c;
  color: #5cb85c;
}
#requirement-detail .response-items {
  clear: right;
  margin-top: 74px;
}
#requirement-detail .response-items .response-item {
  overflow: hidden;
  padding: 15px 0;
  border-top: 1px solid #CCC;
  margin-top: 16px;
}
