@charset "utf-8";
/* Reset Global */
html,
body {
  height: 100%;
  width: 100%;
}
#login {
  background: #DADADA;
  position: relative;
  top: 20%;
  font-size: 14px;
  line-height: 1.4285em;
}
#login .grid {
  height: 100%;
}
#login .image {
  margin-top: -100px;
}
#login .column {
  max-width: 450px;
}
