#indicator-detail {
  .content{
    .icon.test{
      height: 60px;
      width: 90px;
      margin-top: 5px;
    }
    .organization{
      background-image: url('images/indicator/indicator-organization.png');
      background-size: 90px 60px;
      background-repeat: no-repeat;
    }
    .project{
      background-image: url('images/indicator/indicator-project.png');
      background-size: 90px 60px;
      background-repeat: no-repeat;
    }
    .achievement{
      background-image: url('images/indicator/indicator-achievement.png');
      background-size: 90px 60px;
      background-repeat: no-repeat;
    }
    .information{
      margin-left: 10px;
      h1 {
        font-size: 15px;
        font-weight: bold;
        margin: 6px 20px 10px;
      }
      h2 {
        font-size: 13px;
        margin: 7px 20px;
      }
      ul{

        margin: 0px 15px;
        font-size: 12px;
        li{
          color: #777777;
        }
      }
    }
  }
  .table{
    font-size: 12px;
  }

}
