#indicator-detail {
  .indicator-main {
    padding: 0 0 0 25px;
    .indicator-list {
      .list-box {
        padding: 15px 0 0;
        list-style: none;
        .item-icon {
          padding: 0px 30px;
        }
        .media-body {
          position: relative;
          vertical-align:middle;
          padding: 0 30px;
        }
        .media-body {
          position: relative;
          vertical-align: middle;
          .main-heading {
            line-height: 28px;
          }
          .item-label {
            position: absolute;
            right: 20px;
            top: 30px;
          }
        }
      }
    }
  }
}
