#indicator-detail {
  .nav-tabs {
    bottom: -1px;
  }
  .tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 20px 15px 10px 15px;
    .data-title{
      text-align:center;
    }
    .tab-pane>.row{
      padding:4px 0;
    }
    #invntDetail {
      .text-right {
        text-align: right;
      }
    }
  }
}
