#main {
  .logo{
    display: inline-block;
    width: 370px;
    height: 40px;
    margin: 3px 25px 0 -15px;
    background: url('images/logo.png') no-repeat;
    background-size:  370px 40px;
  }
  .nav-tabs{
    position: relative;
    bottom: -7px;
  }
  .btn-login{
    position: relative;
    top:7px;
    right: -15px;
  }
}
