<div id='indicator-detail'>
  <!-- BEGIN MAIN -->
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='fa fa-clone'>
        上传日期：{{InventoryDetail.detail.CREATE_TIME | date:'yyyy-MM-dd'}}</i>
      <span class='pull-right'>浏览：{{InventoryDetail.detail.VISIT_COUNT}}</span>
    </div>
    <div class='panel-body'>
      <div class='content'>
        <div class='icon organization test pull-left'></div>
        <div class='information pull-left'>
          <h1>{{InventoryDetail.detail.DATA_NAME}}</h3>
          <h2>{{InventoryDetail.detail.DATA_SUMMARY}}</h5>
          <ul class='list-inline'>
            <li>提供部门：{{InventoryDetail.detail.DEP_NAME}}</li>
            <li>联系人：{{InventoryDetail.detail.LINKMAN}}</li>
            <li>联系方式：{{InventoryDetail.detail.CONTACT_PHONE}}</li>
            <li>发布日期：{{InventoryDetail.detail.PUBLISH_TIME | date:'yyyy-MM-dd'}}</li>
            <li>上传日期：{{InventoryDetail.detail.UPDATE_TIME | date:'yyyy-MM-dd'}}</li>
          </ul>
        </div>
        <div class='operation pull-right'>
          <span class='label label-success'>{{inventory.DICT_NAME}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a class='btn btn-info btn-sm'><i class="fa fa-codepen"> 指标说明</i></a>
      <a class='btn btn-info btn-sm'><i class="fa fa-star-o"> 示例数据</i></a>
      <a class='btn btn-info btn-sm'><i class="fa fa-tty"> 其他相关</i></a>
    </div>
    <table class="table">
      <table class='table table-hover table-condensed table-striped table-bordered'>
        <thead>
          <tr>
            <th>序号</th>
            <th>指标名称</th>
            <th>指标别称</th>
            <th>指标类型</th>
            <th>指标长度</th>
            <th>计量单位</th>
            <th>指标详细解释</th>
            <th>计算方法</th>
            <th>提供周期</th>
            <th>空间范围</th>
            <th>来源部门</th>
            <th>共享级别</th>
            <th>创建时间</th>
            <th>联系人</th>
            <th>联系电话</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='indicator in InventoryDetail.indicators'>
            <td>{{$index}}</td>
            <td>{{indicator.QUOTA_NAME}}</td>
            <td>{{indicator.ALIAS}}</td>
            <td>{{indicator.QUOTA_TYPE}}</td>
            <td>{{indicator.DATA_LENGTH}}</td>
            <td>{{indicator.METER_UNIT}}</td>
            <td>{{indicator.QUOTA_DETAIL}}</td>
            <td>{{indicator.CALCULATE_METHOD}}</td>
            <td>{{}}</td>
            <td>{{}}</td>
            <td>{{indicator.DEP_ID}}</td>
            <td>{{indicator.SHARE_LEVEL}}</td>
            <td>{{indicator.CREATE_TIME | date:'yyyy-MM-dd'}}</td>
            <td>{{indicator.LINKMAN}}</td>
            <td>{{indicator.CONTACT_PHONE}}</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>




    <!--
    <table class='table table-hover table-condensed table-striped'>
      <thead>
        <tr>
          <th>序号</th>
          <th>成果名称</th>
          <th>成果密级代码</th>
          <th>成果推荐单位</th>
          <th>成果属性代码</th>
          <th>成果体现形成代码</th>
          <th>成果学科分类</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>四川省863地质灾害预防可能性研究</td>
          <td>AG001-2016</td>
          <td>四川省地震局</td>
          <td>ABD001</td>
          <td>ACQE-001</td>
          <td>地质学科</td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class='table table-hover table-condensed table-striped'>
    <thead>
      <tr>
        <th>序号</th>
        <th>内容</th>
        <th>详细</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>数据接入方式</td>
        <td>授权API接口访问</td>
      </tr>
    </tbody>
  </table>
  -->
</div>
