<div id='indicator-detail'>
  <!-- BEGIN MAIN -->
  <div class='container'>
    <div class='row'>
      <div class='indicator-main'>
        <!-- indicator inventory profile -->
        <div class='indicator-list'>
          <ul class='list-box'>
            <li>
              <div class="panel panel-default ">
                <div class="media">
                  <div class="media-left item-icon">
                    <a href="#" class='font-80'>
                      <i class='fa fa-mobile-phone'></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading main-heading">科技交换指标
                    </h4>
                    <h5>摘要：四川省21个地市州，2015年科技项目交换指标</h5>
                    <div class='item-label'>
                      <label class='border-primary'>省级指标</label>
                      <label class='border-info'>全开放</label>
                    </div>
                    <div class='row font-13 margin-top14'>
                      <div class='col-sm-2'>提供部门：四川省科技局</div>
                      <div class='col-sm-2'>联系人：李一</div>
                      <div class='col-sm-2'>联系电话：028-86524152</div>
                      <div class='col-sm-2'>发布日期：2016-02-10</div>
                      <div class='col-sm-3'>指标上传日期：2016-02-10</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class='detail-items'>
          <ul class="nav nav-pills">
            <li role="presentation" class="active">
              <a href="#">指标说明</a>
            </li>
            <li role="presentation">
              <a href="#">示例数据</a>
            </li>
            <li role="presentation">
              <a href="#">其他相关</a>
            </li>
          </ul>
          <div>
            <div id='indicator-info'>
              <!-- Table -->
              <table class='table table-hover table-striped'>
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>指标名称</th>
                    <th>指标别称</th>
                    <th>指标类型</th>
                    <th>指标长度</th>
                    <th>计量单位</th>
                    <th>指标详细解释</th>
                    <th>计算方法</th>
                    <th>提供周期</th>
                    <th>空间范围</th>
                    <th>来源部门</th>
                    <th>共享级别</th>
                    <th>创建时间</th>
                    <th>指标种类一</th>
                    <th>指标种类二</th>
                    <th>指标种类三</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr ng-repeat='ResourceCatalog in ResourceCatalogs'>
              <td>{{ResourceCatalog.categoryName}}</td>
              <td>{{ResourceCatalog.catalogName}}</td>
              <td>{{ResourceCatalog.catalogCode}}</td>
            </tr> -->
                </tbody>
              </table>
            </div>

            <div id='indicator-examp' style='display:none'>
              <!-- Table -->
              <table class='table table-hover table-striped'>
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>成果名称</th>
                    <th>成果密级代码</th>
                    <th>成果推荐单位</th>
                    <th>成果属性代码</th>
                    <th>成果体现形成代码</th>
                    <th>成果学科分类</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>四川省863地质灾害预防可能性研究</td>
                    <td>AG001-2016</td>
                    <td>四川省地震局</td>
                    <td>ABD001</td>
                    <td>ACQE-001</td>
                    <td>地质学科</td>
                  </tr>
                  <!-- <tr ng-repeat='ResourceCatalog in ResourceCatalogs'>
              <td>{{ResourceCatalog.categoryName}}</td>
              <td>{{ResourceCatalog.catalogName}}</td>
              <td>{{ResourceCatalog.catalogCode}}</td>
            </tr> -->
                </tbody>
              </table>
            </div>

            <div id='indicator-other' style='display:none'>
              <!-- Table -->
              <table class='table table-hover table-striped'>
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>内容</th>
                    <th>详细</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>数据接入方式</td>
                    <td>授权API接口访问</td>
                  </tr>
                  <!-- <tr ng-repeat='ResourceCatalog in ResourceCatalogs'>
              <td>{{ResourceCatalog.categoryName}}</td>
              <td>{{ResourceCatalog.catalogName}}</td>
              <td>{{ResourceCatalog.catalogCode}}</td>
            </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
