<div ui-view id='inventory-main' class='container'>
  <div class='row'>
    <div class='col-md-2'>
      <div class='department-list panel panel-default'>
        <div class='panel-heading'><i class='fa fa-bars'> 指标清单</i></div>
        <div class='list-group'>
          <a ng-repeat='department in Inventory.departments' ng-click=Inventory.switcher(department.ID) class='list-group-item'>{{department.DEP_NAME}}</a>
        </div>
      </div>
    </div>
    <div class='col-md-10'>
        <!-- Inventory Content -->
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <span>
              <i class='fa fa-bookmark-o'> 科技局</i>
            </span>
            <span class='filter-condition pull-right'>
              <button class='btn btn-default btn-sm'>默认排序</button>
              <button class='btn btn-default btn-sm'>最新指标</button>
              <button class='btn btn-default btn-sm'>浏览量</button>
            </span>
          </div>
          <div class='panel-body'>
            <div class='filter'>
              <nav class='shared-level pull-left'>
                <ul class='pager'>
                  共享级别
                  <li><a>全部</a></li>
                  <li><a>全开放 <span class='badge'>14</span></a></li>
                  <li><a>政务云开放 <span class='badge'>14</span></a></li>
                  <li><a>授权开放 <span class='badge'>14</span></a></li>
                  <li><a>暂不开放 <span class='badge'>14</span></a></li>
                </ul>
              </nav>
              <nav class='shared-range pull-left'>
                <ul class='pager'>
                  空间范围
                  <li><a>全部</a></li>
                  <li><a>省级数据 <span class='badge'>14</span></a></li>
                  <li><a>分地/市/州数据 <span class='badge'>14</span></a></li>
                  <li><a>分县数据 <span class='badge'>14</span></a></li>
                  <li><a>分乡数据 <span class='badge'>14</span></a></li>
                  <li><a>分村数据 <span class='badge'>14</span></a></li>
                  <li><a>全国数据 <span class='badge'>14</span></a></li>
                  <li><a>分省数据 <span class='badge'>14</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <i class='fa fa-clone'> 上传日期：2016-04-16</i>
            <span class='pull-right'>浏览：20</span>
          </div>
          <div class='panel-body'>
            <div class='content'>
              <a ui-sref='main.inventory.detail'>
                <div class='icon organization test pull-left'></div>
                <div class='information pull-left'>
                  <h1>科技成果交换指标</h3>
                  <h2>摘要：四川省21个地市州 2015年科技项目交换指标</h5>
                  <ul class='list-inline'>
                    <li>提供部门：四川省科技局</li>
                    <li>联系人：李一</li>
                    <li>联系方式：028-8783887</li>
                    <li>发布日期：2016-02-13</li>
                  </ul>
                </div>
              </a>
              <div class='operation pull-right'>
                <span class='label label-primary'>省级指标</span>
                <span class='label label-success'>全开放</span>
                &nbsp &nbsp
                <button class='btn btn-info btn-sm'>申请查看</button>
              </div>
            </div>
          </div>
        </div>
        <!-- #Inventory Content -->
    </div>
  </div>
</div>
