<div id='admin-department'>
  <div class="row">
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">部门管理</div>
      <div class="panel-body">
        <div class="col-xs-8 pull-left">
          <button type="button" class="btn btn-primary " ng-click="addDepartmentModal()">
            <i class="fa fa-plus"> 新增</i></button>
        </div>
        <div class="input-group col-xs-4 pull-right">
          <div class="input-group-addon">部门总数(<span ng-bind="depTotal"></span>)</div>
          <input type="text" class="form-control" placeholder="请输入部门名称" ng-model="dep_name" required>
          <div class="input-group-addon" ng-click='searchDepartment()'>查询</div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>部门编号</th>
              <th>排序号</th>
              <th>部门名称</th>
              <th>上级部门</th>
              <th>机构类型</th>
              <th>区域名称</th>
              <th>联系人</th>
              <th>联系电话</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="AdminDep in AdminDepartments">
              <th>{{$index+1}}</th>
              <td>{{AdminDep.dep_sn}}</td>
              <td>{{AdminDep.order_by}}</td>
              <td>{{AdminDep.dep_name}}</td>
              <td>{{AdminDep.parent_name}}</td>
              <td>{{AdminDep.dep_type_name}}</td>
              <td>{{AdminDep.area_code_name}}</td>
              <td>{{AdminDep.contacts}}</td>
              <td>{{AdminDep.contact_phone}}</td>
              <td>
                <a ng-click='updateDepartment(AdminDep)'><button type="button" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"> 修改</i></button></a>&nbsp;&nbsp;
                <a ng-click='deleteDepartment(AdminDep)'><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-remove"> 删除</i></button></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
        <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- Add department modal -->
<script type='text/ng-template' id='add-department-modal.html'>
  <form class="form-horizontal example-add-modal" name='departmentAddForm'>

    <div class='modal-header'>
      <i class="fa fa-server"></i>
      {{Modal.type}}部门
      <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
    </div>
    <div class='modal-body'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">部门编号
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='department.dep_sn' required>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">排序号
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='department.order_by ' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">部门全称
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='department.dep_name' required ng-blur="Modal.validDepName(department.dep_name)">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">部门短名称
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='department.dep_short_name' required >
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">上级部门
          <span class='require-sign'>&nbsp</span>:</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model='department.parent_id' >
            <option ng-repeat="dep in  AllDepartments" value='{{dep.id}}'>{{dep.dep_name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">机构类型
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model='department.dep_type' required>
            <option ng-repeat="type in  types" value='{{type.id}}'>{{type.dict_name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">区域名称
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model='department.area_code' required>
            <option ng-repeat="area in  areaNames" value='{{area.id}}'>{{area.dict_name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系人
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='department.contacts' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系电话
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="num" class="form-control" ng-model='department.contact_phone' required>
        </div>
      </div>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' ng-disabled="departmentAddForm.$invalid" type='submit' ng-click='Modal.confirm(departmentAddForm.$valid)'>提交</button>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>取消</button>
    </div>
  </div>
</form>
</script>
