<div id='admin-department'>
  <div class="row">

  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">用户管理</div>
      <div class="panel-body">
        <div class="col-xs-8 pull-left">
          <button type="button" class="btn btn-primary" ng-click="addUserModal()">
            <i class="fa fa-plus"> 新增</i></button>
        </div>
        <div class="input-group col-xs-4 pull-right">
          <div class="input-group-addon">用户数(<span ng-bind="UserTotal"></span>)</div>
          <input type="text" class="form-control" placeholder="请输入用户名" ng-model="username" required>
          <div class="input-group-addon" ng-click='searchUser()'>查询</div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>用户名</th>
              <th>部门名称</th>
              <th>姓名</th>
              <th>联系电话</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{$index+1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.dep_name}}</td>
              <td>{{user.person_name}}</td>
              <td>{{user.phone}}</td>
              <td>
                <a ng-click='updateUser(user)'><button type="button" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"> 修改</i></button></a>&nbsp;&nbsp;
                <a ng-click='deleteUser(user)'><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-remove"> 删除</i></button></a>
                <a ng-click='Password(user)'><button type="button" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o"> 密码</i></button></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class='pull-right'>
        <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Add user modal -->
<script type='text/ng-template' id='add-user-modal.html'>
  <form class="form-horizontal example-add-modal" name='userAddForm'>

    <div class='modal-header'>
      <i class="fa fa-server"></i>
      {{Modal.type}}用户
      <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
    </div>
    <div class='modal-body'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">登录名
          <span class='require-sign'>*</span>:
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='sysUser.username' required ng-blur="Modal.validUser(sysUser.username)">
        </div>
      </div>
      <div class="form-group" ng-show='Modal.type=="添加"'>
        <label for="" class="col-sm-2 control-label">密码
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  ng-copy="false"  ng-model='sysUser.password' required>
        </div>
      </div>
      <div class="form-group" ng-show='Modal.type=="添加"'>
        <label for="" class="col-sm-2 control-label">密码确认
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  ng-paste="false" ng-model='password' required ng-blur="Modal.validPword(password)">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">部门名称
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model='sysUser.dep_id' required>
            <option ng-repeat="dep in  deptList" value='{{dep.id}}'>{{dep.dep_name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">姓名
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='sysUser.person_name' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系电话
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" ng-model='sysUser.phone' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">邮箱
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control"  ng-model='sysUser.email'required>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' ng-disabled="userAddForm.$invalid" type='submit' ng-click='Modal.confirm(userAddForm.$valid)'>提交</button>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>取消</button>
    </div>
    </div>
  </form>
</script>
<!-- update  password modal -->
<script type='text/ng-template' id='update-password-modal.html'>
  <form class="form-horizontal example-add-modal" name='passwordForm'>

    <div class='modal-header'>
      <i class="fa fa-server"></i>
       修改密码
      <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
    </div>
    <div class='modal-body'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">原密码
          <span class='require-sign'>*</span>:
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" ng-model='password_pre' required ng-blur="Modal.validPword1(password_pre)">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">新密码
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  ng-copy="false"  ng-model='p2' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">密码确认
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  ng-paste="false" ng-model='Modal.password' required ng-blur="Modal.validPword(Modal.password,p2)">
        </div>
      </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' ng-disabled="passwordForm.$invalid" type='submit' ng-click='Modal.confirm(passwordForm.$valid)'>提交</button>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>取消</button>
    </div>
    </div>
  </form>
</script>
