#login {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  .login-cover {
    background: url('images/main/login_bg2.jpg');
    background-size: 100% 100%;
    height: 100%;
    opacity: 0.37;
    filter:alpha(opacity=57);
    z-index: -1;
    position: absolute;
    width: 100%;
  }
  .login-box {
    width: 380px;
    margin: 0 auto;
    padding-top: 7%;
    .login-content {
      background: rgba(255,255,255,.6);
      padding: 30px 10px;
      .login-logo {
        font-size: 24px;
        text-align: center;
        font-weight: 300;
        color: #333;
        padding: 10px 0;
      }
      .login-body {
        overflow: hidden;
        padding: 20px;
        border-top: 0;
        color: #333;
        .login-title {
          margin: 0;
          text-align: center;
          padding: 0 20px 20px;
        }
        .has-icon {
          position: relative;
          i.fa {
            position: absolute;
            right: 2px;
            top: 0;
            padding: 10px;
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
