<!-- BEGIN MAIN -->
<section>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='panel panel-default panel-row-one'>
          <div class='panel-body '>
            <div class='input-group input-group-sm'>
              <span class='input-group-addon' id='sizing-addon3'>
                <span class='glyphicon glyphicon-search'></span>
              </span>
              <input type='text' class='form-control' placeholder='快捷检索...'>
            </div>
            <div class='row depart-logos'>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
              <div class='col-xs-6 col-md-3'>
                <a href='#' class='thumbnail'>
                  <img src='#' alt='#'>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='panel panel-default panel-row-one'>
          <div class='panel-body'>
            清单总览，需求总览
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <div class='pull-left'>最新资源</div>
            <div class='pull-right'>更多#</div>
          </div>

          <!-- Table -->
          <table class='table table-hover table-striped'>
            <thead>
              <tr>
                <th>发布日期</th>
                <th>清单名称</th>
                <th>提供单位</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr ng-repeat='ResourceCatalog in ResourceCatalogs'>
              <td>{{ResourceCatalog.categoryName}}</td>
              <td>{{ResourceCatalog.catalogName}}</td>
              <td>{{ResourceCatalog.catalogCode}}</td>
            </tr> -->
            </tbody>
          </table>
        </div>

      </div>
      <div class='col-sm-6'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <div class='pull-left'>最新需求</div>
            <div class='pull-right'>更多#</div>
          </div>
          <!-- Table -->
          <table class='table'>
            <table class='table table-hover table-striped'>
              <thead>
                <tr>
                  <th>发布日期</th>
                  <th>需求内容</th>
                  <th>需求单位</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr ng-repeat='ResourceCatalog in ResourceCatalogs'>
                <td>{{ResourceCatalog.categoryName}}</td>
                <td>{{ResourceCatalog.catalogName}}</td>
                <td>{{ResourceCatalog.catalogCode}}</td>
              </tr> -->
              </tbody>
            </table>
          </div>
        </table>
      </div>
    </div>
  </div>
</section>

<section>
  <div class='container'>
    <div class='row '>
      <div class='col-sm-12'>
        <div class=' panel panel-default'>
          <div class='panel-body'>
            部门共享统计清单(单位：个)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- END MAIN -->
