<div id='dashboard' class='container'>
  <section class='first-section row'>
    <div class='left col-md-6'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <i class='fa fa-home'> 部门列表</i>
        </div>
        <div class='panel-body'>
          <div class='bureau-filter input-group'>
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-search'></span>
            </span>
            <input type='text' class='form-control' aria-label='Amount (to the nearest dollar)'>
            <span class='input-group-addon'>快速检索</span>
          </div>
          <div class='bureau-list'>
            <div ng-repeat='logo in Bureaus.logo' class='bureau-item col-md-2'>
              <a href='' class='thumbnail'>
                <img ng-src='../styles/images/bureau/{{logo}}.png'>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='right col-md-6'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <i class='fa fa-inbox'> 资源总览</i>
        </div>
        <div class='panel-body'>
          Panel content
        </div>
      </div>
    </div>
  </section>
  <section class='second-section row'>
    <div class='left col-md-6'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <i class='fa fa-cart-arrow-down'> 最新资源</i>
        </div>
        <table class='table'>
          <thead>
            <tr>
              <th>发布日期</th>
              <th>清单名称</th>
              <th>提供单位</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2016-04-15</td>
              <td>科技项目交换指标</td>
              <td>省地税局</td>
            </tr>
            <tr>
              <td>2013-11-29</td>
              <td>科技成果交换指标</td>
              <td>省科技厅</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='right col-md-6'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <i class='fa fa-pencil-square-o'> 最新需求</i>
        </div>
        <table class='table'>
          <thead>
            <tr>
              <th>发布日期</th>
              <th>需求内容</th>
              <th>需求单位</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2016-04-15</td>
              <td>科技项目交换指标</td>
              <td>省地税局</td>
            </tr>
            <tr>
              <td>2013-11-29</td>
              <td>科技成果交换指标</td>
              <td>省科技厅</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class='third-section row'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <i class='fa fa-bar-chart'> 部门共享清单统计</i>
      </div>
      <div class='panel-body'>
        Panel content
      </div>
    </div>
  </section>

</div>
