<div id='login'>
  <div class='login-cover'></div>
  <div class='login-box'>
    <div class='login-content'>
      <div class='login-logo'>
        四川省数据注册发布平台
      </div>
      <div class='login-body'>
        <form>
          <div class='form-group has-icon margin-bottom25'>
            <input type='text' class='form-control' placeholder='请输入用户名'/>
            <i class='fa fa-user'></i>
          </div>
          <div class='form-group has-icon margin-bottom25'>
            <input type='text' class='form-control' placeholder='请输入密码'/>
            <i class='fa fa-key'></i>
          </div>
          <div margin-bottom25>
            <button ng-click='login.submit()' class='btn btn-success col-xs-12'>登&nbsp;&nbsp;录</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
