<!DOCTYPE html>
<html lang='zh-CN'>
  <head>
    <meta charset='utf-8'/>
    <title>四川省数据注册发布平台</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel="icon" href="../styles/images/favicon.ico" type="image/png"/>
    <link href='../libraries/semantic/semantic.min.css' rel='stylesheet'/>
    <link href='../styles/app.css' rel='stylesheet'/>
  </head>
  <body>

    <div id='login'>
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui teal image header">
            <img src="assets/images/logo.png" class="image">
            <div class="content">
              Log-in to your account
            </div>
          </h2>
          <form class="ui large form">
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="email" placeholder="E-mail address">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <div class="ui fluid large teal submit button">登陆</div>
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
      </div>
    </div>

    <!-- Libraries -->
    <script src='../libraries/semantic/semantic.min.js'></script>

  </script>
</body>
</html>
