<div id='main'>
  <nav class='navbar navbar-default '>
    <div class='container'>
      <h1 class='logo pull-left'>
        四川省数据注册发布平台
      </h1>
      <ul class='nav nav-tabs pull-left'>
        <li class='active'>
          <a ng-click='Tab.switcher()' ui-sref='main.dashboard'>首页</a>
        </li>
        <li>
          <a ng-click='Tab.switcher()' ui-sref='main.inventory'>目录清单</a>
        </li>
        <li>
          <a ng-click='Tab.switcher()' ui-sref='main.requirement'>需求清单</a>
        </li>
        <li>
          <a ng-click='Tab.switcher()' ui-sref='main.department'>部门主页</a>
        </li>
      </ul>
      <button type="button" class="btn btn-info pull-right btn-login">
        <i class="fa fa-user"> 用户信息</i>
      </button>
    </div>
  </nav>
  <div id='ui-view-main' ui-view></div>
</div>
