<div id='main'>
  <!-- Navbar -->
  <nav class='navbar navbar-default'>
    <div class='container'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='#'>四川省数据注册发布平台</a>
      </div>
      <div class='collapse navbar-collapse'>
        <a class='navbar-right' href='javascript:;' style='padding:18px 0'>登录</a>
        <ul class='nav  nav-pills navbar-right' style='padding-right:130px;margin:8px 0;'>
          <li role='presentation' class='active'>
            <a ui-sref='main.dashboard'>首页</a>
          </li>
          <li role='presentation'>
            <a ui-sref='main.inventory'>目录清单</a>
          </li>
          <li role='presentation'>
            <a ui-sref='main.requirement'>需求清单</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- UI Router -->
  <div id='ui-view-main' ui-view></div>
</div>
