<div id='department-audit-info'>
  <!-- BEGIN MAIN -->
  <div class='requirement-detail'>
    <div class="panel panel-default">
      <div class="panel-heading">指标审核</div>
      <div class="panel-body audit-wrap">

        <!-- audit -->
        <div>
          <h4>
            <span class='step-number'>1</span>审核</h4>
          <div class='audit-box'>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">申请单位：</label>
                <div class='col-sm-10 apply-dept'>{{InfoResourceDetail.apply_dep_name}}
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">审核
                  <span class='require-sign'>*</span>：</label>
                <div class="col-sm-10">
                  <input type='radio' reduired name='status' ng-model='AuditInfo.audit_status' value='1'/>&nbsp;通过
                  <input type='radio' reduired name='status' ng-model='AuditInfo.audit_status' value='2'/>&nbsp;不通过
                  <p class='help-block' ng-show='auditError'>请选择审核状态</p>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">审核意见：</label>
                <div class="col-sm-10">
                  <textarea ng-model='AuditInfo.audit_opinion' class="col-sm-12" rows='3'></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- info -->
        <div class='audit-info'>
          <h4>
            <span class='step-number'>2</span>数据信息</h4>
          <div class='row apply-dep-info'>
            <label class='col-sm-2 text-right'>申请部门：</label>
            <div class='col-sm-2 left'>{{InfoResourceDetail.apply_dep_name}}</div>

            <label class='col-sm-2 text-right'>申请日期：</label>
            <div class='col-sm-3 left'>{{InfoResourceDetail.apply_time | date:"yyyy-MM-dd HH:mm:ss"}}</div>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{true: 'active', false: 'inactive'}[!auditInfo.show]">
              <a ng-click='auditInfo.show = false' aria-controls="info" role="tab" data-toggle="tab">信息资源</a>
            </li>
            <li role="presentation" ng-show='InfoItemShow' ng-class="{true: 'active', false: 'inactive'}[auditInfo.show]">
              <a ng-click='auditInfo.show = true' aria-controls="exampleData" role="tab" data-toggle="tab">信息项</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content container-fluid">
            <div role="tabpanel" class="tab-pane" ng-class="{true: 'active', false: 'inactive'}[!auditInfo.show]">
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源名称:</label>
                <div class='col-sm-9'><pre>{{InfoResourceDetail.resource_name}}</pre></div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源别称:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.alias}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源摘要:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.summary}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源分类:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.category_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源目录代码:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.resource_sn}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>关联及类目名称:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.rel_category_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>空间范围:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.area_range}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>分地区数据级别:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.area_level}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源格式:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.resource_format_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>更细周期:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.update_period}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>是否涉密:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.secret_flag_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>计量单位:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.meter_unit}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>计算方法:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.calculate_method}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>共享级别:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.share_level_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>共享类型:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.share_type_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>共享条件:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.share_limit}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>共享方式:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.share_method_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>是否面向社会开放:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.social_open_flag_name}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>开放条件:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.social_open_limit}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>信息资源提供方:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.resource_provider}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>资源提供方代码:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.resource_provider_code}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>联系人:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.linkman}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>联系电话:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.contact_phone}}</div>
              </div>
              <div class='row'>
                <label class='col-sm-3 text-right'>创建时间:</label>
                <div class='col-sm-9'>{{InfoResourceDetail.create_time| date:"yyyy-MM-dd HH:mm:ss"}}</div>
              </div>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{true: 'active', false: 'inactive'}[auditInfo.show]">
              <!-- Table -->
              <table class='table table-hover table-striped '>
                <thead>
                  <tr>
                    <th width='40px'>序号</th>
                    <th width='80px'>信息项名称</th>
                    <th width='100px'>数据类型</th>
                    <th width='80px'>数据精度</th>
                    <th width='80px'>数据长度</th>
                    <th width='80px'>计量单位</th>
                    <th width='80px'>计算方法</th>
                    <th width='80px'>更新周期</th>
                    <th width='80px'>是否涉密</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='rescoureItem in InfoItems | orderBy:"-create_time" '>
                    <!-- <td><input type='checkbox' ng-click='deleteReq(rescoureItem.id)' />删除</td> -->
                    <td>{{$index+1}}</td>
                    <td title='{{rescoureItem.item_name}}'>{{rescoureItem.item_name}}</td>
                    <td title='{{rescoureItem.item_type_name}}'>{{rescoureItem.item_type_name}}</td>
                    <td title='{{rescoureItem.data_precision}}'>{{rescoureItem.data_precision}}</td>
                    <td title='{{rescoureItem.data_length}}'>{{rescoureItem.data_length}}</td>
                    <td title='{{rescoureItem.meter_unit}}'>{{rescoureItem.meter_unit}}</td>
                    <td title='{{rescoureItem.calculate_method}}'>{{rescoureItem.calculate_method}}</td>
                    <td title='{{rescoureItem.update_period_name}}'>{{rescoureItem.update_period_name}}</td>
                    <td title='{{rescoureItem.secret_flag_name}}'>{{rescoureItem.secret_flag_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class='pull-right'>
          <div class="btn btn-group">
          <button type="button" class="btn btn-default" ui-sref='main.department.audit'>返回</button>
        </div>
          <div class="btn btn-group">
          <button type="button" class="btn btn-success" ng-click='submitAudit()'>保存</button>
        </div>

        </div>
      </div>
    </div>

  </div>
</div>
