<div id='department-audit-info'>
  <!-- BEGIN MAIN -->
    <div class='row'>
      <div class='requirement-detail'>
        <div class="panel panel-default">
          <div class="panel-heading">开放指标审核</div>
          <div class="panel-body audit-wrap">
            <h4>清单基本信息</h4>
            <div class="media audit-box">
              <div class="media-left item-icon">
                <a href="#" class='font-80'>
                  <i class='fa fa-mobile-phone'></i>
                </a>
              </div>
              <div class="media-body">
                <div class="row media-heading main-heading">
                  <div class='col-sm-8'>
                    <h4>科技交换指标</h4>
                  </div>
                  <div class='col-sm-4'>
                    <div class='item-label'>
                      <label class='label label-primary'>省级指标</label>
                      <label class='label label-info'>授权开放</label>
                    </div>
                  </div>
                </div>
                <dl class="dl-inline-block">
                  <div>
                  <dt>摘要：</dt>
                  <dd>四川省21个地市州，2015年科技项目交换指标</dd>
                </div>

                <div>
                  <dt>数据来源：</dt>
                  <dd>四川省科技局</dd>
                </div>

                <div>
                  <dt>联系人：</dt>
                  <dd>李一</dd>
                </div>

                <div>
                  <dt>联系电话：</dt>
                  <dd>028-8651551</dd>
                </div>

                <div>
                  <dt>发布日期：</dt>
                  <dd>2016-02-12</dd>
                </div>

                <div>
                  <dt>上传日期：</dt>
                  <dd>2016-02-12</dd>
                </div>
                </dl>
              </div>
            </div>

            <h4>审核</h4>
            <div class='audit-box'>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">申请单位：</label>
                  <div class='col-sm-10 apply-dept'>省工商局
                  </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">审核<span class='require-sign'>*</span>:</label>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option value=''>通过</option>
                    <option value=''>不通过</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">审核意见</label>
                <div class="col-sm-10" >
                  <textarea class="col-sm-12" rows='3'></textarea>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>

        <div class='pull-right'>
          <div class="btn-group">
            <button type="button" class="btn btn-success">提交</button>
          </div>
        </div>

      </div>
    </div>
</div>
