<!-- UI Router -->
<div id='ui-view-department-audit' ui-view>
  <div id='department-audit'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>指标审核</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation "  class='indicator-total'>
            指标审核总数<span class='num'>{{auditTotal}}</span>
          </li>
          <li role="presentation">
              <input type="text"  placeholder="请输入查询指标名称" ng-model='DeptAudit.quota_name_filter'>
              <button type="button" class="btn btn-primary" ng-click='searchDeptAuditByName()'>查询</button>
          </li>
        </ul>
      </div>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <ul class="nav nav-filter">
            <li role="presentation" class="active">
              <span>
                <i class='fa fa-check-circle-o'></i>&nbsp;审核通过&nbsp;[111]</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-times-circle-o' ></i>&nbsp;审核未通过&nbsp;[111]</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-question-circle'></i>&nbsp;未审核&nbsp;[111]</span>
            </li>
          </ul>
        </div>

        <div class='panel-body scroll'>
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12'>
              <!-- Table -->
              <table class='table table-hover table-striped '>
                <thead>
                  <tr>
                    <th>审核状态</th>
                    <th>序号</th>
                    <th>申请日期</th>
                    <th>指标编号</th>
                    <th>指标名称</th>
                    <th>指标别称</th>
                    <th>计量单位</th>
                    <th>指标详细解释</th>
                    <th>计算方法</th>
                    <th>共享频率</th>
                    <th>空间范围</th>
                    <th>分地区数据级别</th>
                    <th>来源部门</th>
                    <th>共享级别</th>
                    <th>数据存储类型</th>
                    <th>数据精度</th>
                    <th>数据长度</th>
                    <th>创建时间</th>
                    <th>数据表示格式</th>
                    <th>是否涉密</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>审核日期</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='DeptAudit in auditList'>
                    <td><div ng-if='DeptAudit.audit_status == 0'><span>
                      <i class='fa fa-question-circle'></i></span><a ui-sref='main.department.audit.info({AUDITID:DeptAudit.id})'>审核</a></div>
                      <div ng-if='DeptAudit.audit_status == 1'><span>
                        <i class='fa fa-check-circle'></i></span></div>
                        <div ng-if='DeptAudit.audit_status == 2'><span>
                          <i class='fa fa-times-circle-o'></i></span></div></td>
                    <td>{{$index+1}}</td>
                    <td>{{DeptAudit.create_time | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                    <td>{{DeptAudit.quota_sn}}</td>
                    <td><a ui-sref='main.department.inventory.detail({ID:DeptAudit.data_quota_id})'>{{DeptAudit.quota_name}}</a></td>
                    <td>{{DeptAudit.alias}}</td>
                    <td>{{DeptAudit.meter_unit}}</td>
                    <td>{{DeptAudit.quota_detail}}</td>
                    <td>{{DeptAudit.calculate_method}}</td>
                    <td>
                      {{DeptAudit.sharefrequency}}
                    </td>
                    <td>
                      {{DeptAudit.area_range}}
                    </td>
                    <td>{{DeptAudit.regionallevel}}</td>
                    <td>{{DeptAudit.depname}}
                    </td>
                    <td>
                      {{DeptAudit.sharelevel}}
                    </td>
                    <td>
                      {{DeptAudit.datastoretype}}
                    </td>
                    <td>{{DeptAudit.data_precision}}</td>
                    <td>{{DeptAudit.data_length}}</td>
                    <td>{{DeptAudit.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                      {{DeptAudit.datashowformat}}
                    </td>
                    <td>
                      {{DeptAudit.secretflag}}
                    </td>
                    <td>{{DeptAudit.linkman}}</td>
                    <td>{{DeptAudit.contact_phone}}</td>
                    <td>{{DeptAudit.audite_time | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
        <div class='pull-right'>
          <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
        </div>

      </div>
    </div>

  </div>
</div>
