<!-- UI Router -->
<div id='ui-view-department-audit' ui-view>
  <div id='department-audit'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>清单开放审核</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation "  class='indicator-total'>
            指标审核总数<span class='num'>{{auditTotal}}</span>
          </li>
          <li role="presentation">
              <input type="text"  placeholder="请输入查询指标名称">
              <button type="button" class="btn btn-primary">查询</button>
          </li>
        </ul>
      </div>
    </div>
    <div class='indicator-filter'>
      <label class='filter-title'>共享级别</label>
      <ul class="nav nav-pills filter-list">
        <li role="presentation" >
          <a ng-class="{true: 'active', false: 'inactive'}[shareLvSelection.length == 0]" href="javascript:;" ng-click='getShareLevelAll()'>全部</a>
        </li>
        <li role="presentation" ng-repeat='shareLevel in shareLevelList'>
          <a ng-class="{true: 'active', false: 'inactive'}[shareLvSelection.indexOf(shareLevel.SYS_DICT_ID) > -1]" href="javascript:;" ng-click='getAuListBySl(shareLevel)' >{{shareLevel.DICT_NAME}}[{{shareLevel.INVENTORY_NUM}}]</a>
        </li>
      </ul>
    </div>
    <div class='indicator-filter'>
      <label class='filter-title'>空间范围</label>
      <ul class="nav nav-pills filter-list">
        <li role="presentation">
          <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[areaSelection.length == 0]" href="javascript:;" ng-click='getSpatialAll()'>全部</a>
        </li>
        <li role="presentation" ng-repeat='areaPeriod in areaPeriodList'>
          <a ng-class="{true: 'active', false: 'inactive'}[areaSelection.indexOf(areaPeriod.SYS_DICT_ID) > -1]" ng-checked="areaSelection.indexOf(areaPeriod.SYS_DICT_ID) > -1"  ng-click='getAuListByAP(areaPeriod)' href="javascript:;">{{areaPeriod.DICT_NAME}}[{{areaPeriod.INVENTORY_NUM}}]</a>
        </li>
      </ul>
    </div>

    <div class='indicator-filter'>
      <label class='filter-title'>审核状态</label>
      <ul class="nav nav-pills filter-list">
        <li role="presentation">
          <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[statusSelection.length == 0]" href="javascript:;" ng-click='getStatusAll()'>全部</a>
        </li>
        <li role="presentation" ng-repeat='auditStatus in auditStatusList'>
          <a ng-class="{true: 'active', false: 'inactive'}[statusSelection.indexOf(auditStatus.AUDITNAME) > -1]" ng-click='getAuListBySta(auditStatus)' href="javascript:;">{{auditStatus.AUDITNAME}}[{{auditStatus.NUMBER}}]</a>
        </li>
      </ul>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <ul class='list-box'>
        <li ng-repeat='auditInfo in auditList'>
          <div class="panel panel-default ">
            <div class="panel-heading item-heading">
              <div class='pull-left'>
                <span>上传日期：{{auditInfo.CREATE_TIME | date:'yyyy-MM-dd'}}</span>
                <!-- <span class='options'>
                  <a title='修改'>
                    <i class='fa fa-pencil'></i>
                  </a>
                  <a title='删除'>
                    <i class='fa fa-trash'></i>
                  </a>
                </span> -->
              </div>
              <div class='pull-right'>浏览：{{auditInfo.VISIT_COUNT}}</div>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left item-icon">
                  <img ng-src='../../styles/images/department/xiangmu.png'/>
                </div>
                <div class="media-body">
                  <div class="row media-heading main-heading">
                    <div class='col-sm-4'>
                      <h4>{{auditInfo.DATA_NAME}}</h4>
                    </div>
                    <div class='col-sm-4'>
                      <div class='item-label'>
                        <!-- <label class='label label-primary'>{{auditInfo.AREA_PERIOD}}</label> -->
                        <label class='label label-info'>{{auditInfo.DICT_NAME}}</label>
                      </div>
                    </div>
                    <div class='col-sm-4'>
                      <span class='col-sm-7'>申请部门：{{auditInfo.APPLY_DEPNAME}}</span>
                      <a ng-class="{true: 'ng-show', false: 'ng-hide'}[{{auditInfo.SHOW_BUTTON == 'TRUE'}}]" ui-sref='main.department.audit.info({AUDITID:auditInfo.AUDITID})' class=' btn btn-sm btn-info'>我要审核</a>
                    </div>
                  </div>
                  <h5>摘要：{{auditInfo.DATA_SUMMARY}}</h5>
                  <div class='row font-13 margin-top14'>
                    <div class='col-sm-3'>数据来源：{{auditInfo.DEPNAME}}</div>
                    <div class='col-sm-3'>联系人：{{auditInfo.LINKMAN}}</div>
                    <div class='col-sm-3'>联系电话：{{auditInfo.CONTACT_PHONE}}</div>
                    <div class='col-sm-3'>发布日期：{{auditInfo.PUBLISH_TIME | date:'yyyy-MM-dd'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
