<!-- UI Router -->
<div id='ui-view-department-audit' ui-view>
  <div id='department-audit'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>清单开放审核 [{{auditTotal}}]</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="javascript:;">默认排序</a>
          </li>
          <li role="presentation">
            <a href="javascript:;">发布日期</a>
          </li>
          <li role="presentation">
            <a href="javascript:;">浏览量</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='indicator-filter'>
      <label class='filter-title'>共享级别</label>
      <ul class="nav nav-pills filter-list">
        <li role="presentation" >
          <a href="javascript:;">全部</a>
        </li>
        <li role="presentation" ng-repeat='shareLevel in shareLevelList'>
          <a ng-class="{true: 'active', false: 'inactive'}[shareLvSelection.indexOf(shareLevel.DICTID) > -1]" href="javascript:;" ng-click='getAuListBySl(shareLevel)' >{{shareLevel.DICT_NAME}}[{{shareLevel.NUMBER}}]</a>
        </li>
      </ul>
    </div>
    <div class='indicator-filter'>
      <label class='filter-title'>空间范围</label>
      <ul class="nav nav-pills filter-list">
        <li role="presentation">
          <a href="javascript:;">全部</a>
        </li>
        <li role="presentation" ng-repeat='areaPeriod in areaPeriodList'>
          <a ng-class="{true: 'active', false: 'inactive'}[areaSelection.indexOf(areaPeriod.DICTID) > -1]" ng-checked="areaSelection.indexOf(areaPeriod.DICTID) > -1"  ng-click='getAuListByAP(areaPeriod)' href="javascript:;">{{areaPeriod.DICT_NAME}}[{{areaPeriod.NUMBER}}]</a>
        </li>
      </ul>
    </div>

    <div class='indicator-filter'>
      <label class='filter-title'>审核状态</label>
      <ul class="nav nav-pills filter-list">
        <li role="presentation">
          <a href="javascript:;">全部</a>
        </li>
        <li role="presentation" ng-repeat='auditStatus in auditStatusList'>
          <a ng-class="{true: 'active', false: 'inactive'}[statusSelection.indexOf(auditStatus.AUDIT_NAME) > -1]" ng-click='getAuListBySta(auditStatus)' href="javascript:;">{{auditStatus.AUDIT_NAME}}[{{auditStatus.NUMBER}}]</a>
        </li>
      </ul>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <ul class='list-box'>
        <li ng-repeat='auditInfo in auditList'>
          <div class="panel panel-default ">
            <div class="panel-heading item-heading">
              <div class='pull-left'>
                <span>上传日期：{{auditInfo.CREATE_TIME}}</span>
                <!-- <span class='options'>
                  <a title='修改'>
                    <i class='fa fa-pencil'></i>
                  </a>
                  <a title='删除'>
                    <i class='fa fa-trash'></i>
                  </a>
                </span> -->
              </div>
              <div class='pull-right'>浏览：{{auditInfo.VIEW_TIMES}}</div>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left item-icon">
                  <img ng-src='../../styles/images/department/xiangmu.png'/>
                </div>
                <div class="media-body">
                  <div class="row media-heading main-heading">
                    <div class='col-sm-4'>
                      <h4>{{auditInfo.QUOTA_NAME}}</h4>
                    </div>
                    <div class='col-sm-4'>
                      <div class='item-label'>
                        <label class='label label-primary'>{{auditInfo.AREA_PERIOD}}</label>
                        <label class='label label-info'>{{auditInfo.SHARE_LEVEL}}</label>
                      </div>
                    </div>
                    <div class='col-sm-4'>
                      <span class='col-sm-7'>申请部门：{{auditInfo.APPLY_DEP}}</span>
                      <a ui-sref='main.department.audit.info' class=' btn btn-sm btn-info'>我要审核</a>
                    </div>
                  </div>
                  <h5>摘要：{{auditInfo.SUMMARY}}</h5>
                  <div class='row font-13 margin-top14'>
                    <div class='col-sm-3'>数据来源：{{auditInfo.DATA_PROVIDER}}</div>
                    <div class='col-sm-3'>联系人：{{auditInfo.LINKMAN}}</div>
                    <div class='col-sm-3'>联系电话：{{auditInfo.CONTACT_PHONE}}</div>
                    <div class='col-sm-3'>发布日期：{{auditInfo.PUBLISH_TIME}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
