<!-- UI Router -->
<div id='ui-view-department' ui-view>
  <div id='department-inventory'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18 dep-name'>{{depName}}
        </p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation " class='indicator-total'>
            资源总数
            <span class='num'>{{Paging.totalItems}}</span>
          </li>
          <li role="presentation">
            <input type="text" class='input-filter' placeholder="请输入查询信息资源名称" ng-model='DepartInfoResource.resource_name_filter'>
            <button type="button" class="btn btn-primary" ng-click='searchDeptInfoResourceByName()'>查询</button>
          </li>
          <li role="presentation">
            <button class='btn btn-success' ui-sref='main.department.inventory.publish'>
              <i class='fa fa-plus'></i>新增资源</button>
          </li>
          <!-- <li role="presentation">
            <a class='btn btn-primary'>导入指标</a>
          </li> -->
        </ul>
      </div>
    </div>
    <div class='filter'>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>信息资源格式</li>
            <li role="presentation">
              <a ng-class="{true: 'active', false: 'inactive'}[resFormatMainSelection.length == 0]" href="javascript:;" ng-click='getResFormatAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='resourceFormat in resourceFormatList'>
              <a ng-class="{true: 'active', false: 'inactive'}[resFormatMainSelection.indexOf(resourceFormat.id) > -1]" href="javascript:;" ng-click='getInfoResourceByResFormat(resourceFormat)'>{{resourceFormat.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>共享级别</li>
            <li role="presentation">
              <a ng-class="{true: 'active', false: 'inactive'}[shareLvMainSelection.length == 0]" href="javascript:;" ng-click='getShareLevelAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='shareLevel in shareLevelList'>
              <a ng-class="{true: 'active', false: 'inactive'}[shareLvMainSelection.indexOf(shareLevel.id) > -1]" href="javascript:;" ng-click='getInfoResourceListBySl(shareLevel)'>{{shareLevel.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>面向社会开放</li>
            <li role="presentation">
              <a ng-class="{true: 'active', false: 'inactive'}[socialOpenMainSelection.length == 0]" href="javascript:;" ng-click='getSocialOpenAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='socialOpen in socialOpenList'>
              <a ng-class="{true: 'active', false: 'inactive'}[socialOpenMainSelection.indexOf(socialOpen.dict_code) > -1]" href="javascript:;" ng-click='getInfoResourceListBySO(socialOpen)'>{{socialOpen.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>更新周期</li>
            <li role="presentation">
              <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[shareFreqSelection.length == 0]" href="javascript:;" ng-click='getShareFreqAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='shareFreq in shareFrequencyList'>
              <a ng-class="{true: 'active', false: 'inactive'}[shareFreqSelection.indexOf(shareFreq.id) > -1]" ng-checked="shareFreqSelection.indexOf(shareFreq.id) > -1" ng-click='getInfoResourceListBySF(shareFreq)' href="javascript:;">{{shareFreq.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>分地区数据级别</li>
            <li role="presentation">
              <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[areaMainSelection.length == 0]" href="javascript:;" ng-click='getSpatialAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='dataLevel in dataLevelList'>
              <a ng-class="{true: 'active', false: 'inactive'}[areaMainSelection.indexOf(dataLevel.id) > -1]" ng-checked="areaMainSelection.indexOf(dataLevel.id) > -1" ng-click='getInfoResourceListByAP(dataLevel)' href="javascript:;">{{dataLevel.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>是否涉密</li>
            <li role="presentation">
              <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[secretFlagMainSelection.length == 0]" href="javascript:;" ng-click='getSecretFlagAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='secretFlag in secretFlagList'>
              <a ng-class="{true: 'active', false: 'inactive'}[secretFlagMainSelection.indexOf(secretFlag.id) > -1]" ng-checked="secretFlagMainSelection.indexOf(secretFlag.id) > -1" ng-click='getInfoResourceListBySecFlag(secretFlag)' href="javascript:;">{{secretFlag.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <ul class="nav nav-filter">
            <li role="presentation" class="active">
              <span>
                <i class='fa fa-eye'></i>&nbsp;全省开放</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-desktop'></i>&nbsp;政务云开放</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-lock'></i>&nbsp;授权开放</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-warning'></i>&nbsp;暂不开放</span>
            </li>
          </ul>
        </div>

        <div class='scroll' cg-busy="{promise:promise,message:'加载中',backdrop:backdrop,delay:delay,minDuration:minDuration}">
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12' >
                <!-- Table -->
                <table class='table table-hover table-striped table-bordered text-center'>
                  <thead>
                    <tr>
                      <th width='100px' rowspan='2'>操作</th>
                      <th width='40px' rowspan='2'>标识</th>
                      <th width='40px' rowspan='2'>序号</th>
                      <th width='90px' rowspan='2'>信息资源名称</th>
                      <th width='90px' rowspan='2'>信息资源别称</th>
                      <th width='100px' rowspan='2'>信息资源摘要</th>
                      <th width='60px' rowspan='2'>信息资源分类</th>
                      <th width='60px' rowspan='2'>信息资源格式</th>
                      <th width='300px' colspan='4'>信息项信息</th>
                      <th width='60px'></th>
                      <th width='60px'></th>
                      <th width='60px' rowspan='2'>信息资源目录代码</th>
                      <th width='60px' rowspan='2'>关联及类目名称</th>
                      <th width='60px' rowspan='2'>空间范围</th>
                      <th width='100px' rowspan='2'>分地区数据级别</th>
                      <th width='60px' rowspan='2'>计量单位</th>
                      <th width='60px' rowspan='2'>计算方法</th>
                      <th width='60px' rowspan='2'>共享级别</th>
                      <th width='200px' colspan='2'>共享类型与共享条件</th>
                      <th width='80px' rowspan='2'>共享方式</th>
                      <th width='210px' colspan='2'>开放数据与开放条件</th>
                      <th width='80px' rowspan='2'>信息资源提供方</th>
                      <th width='80px' rowspan='2'>资源提供方代码</th>
                      <th width='60px' rowspan='2'>联系人</th>
                      <th width='100px' rowspan='2'>联系电话</th>
                      <th width='120px' rowspan='2'>创建时间</th>
                    </tr>
                    <tr>
                      <th>信息项名称</th>
                      <th>数据类型</th>
                      <th>数据精度</th>
                      <th>数据长度</th>
                      <th>更新周期</th>
                      <th>是否涉密</th>
                      <th>共享类型</th>
                      <th>共享条件</th>
                      <th>是否面向社会开放</th>
                      <th>开放条件</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='InfoResource in infoResourceList | orderBy:"create_time":true' ng-class="{true: 'has-item', false: 'text-default'}[infoResourceList[$index].id === infoResourceList[$index-1].id]">
                      <td>
                      <div ng-show='infoResourceList[$index].id != infoResourceList[$index-1].id'>
                        <a class='delete' ng-click='deleteInfoResource(InfoResource.id)' ><i class='fa fa-trash'></i>&nbsp;删除</a>
                        <a class='edit' ui-sref='main.department.inventory.update({item:InfoResource})'><i class='fa fa-pencil'></i>&nbsp;修改</a>
                      </div>
                    </td>
                      <td>
                        <div ng-if='InfoResource.share_level_name =="全省开放" '>
                          <span>
                            <i class='fa fa-eye'></i>
                          </span>
                        </div>
                        <div ng-if='InfoResource.share_level_name =="省政务云平台开放" '>
                          <span>
                            <i class='fa fa-desktop'></i>
                          </span>
                        </div>
                        <div ng-if='InfoResource.share_level_name =="授权开放" '>
                          <span>
                            <i class='fa fa-lock'></i>
                          </span>
                        </div>
                        <div ng-if='InfoResource.share_level_name =="暂不开放" '>
                          <span>
                            <i class='fa fa-warning'></i>
                          </span>
                        </div>
                      </td>
                      <td>{{$index+1}}</td>
                      <td title='{{InfoResource.resource_name}}'>
                        <a ui-sref='main.department.detail({item:InfoResource})'>
                          <pre>{{InfoResource.resource_name}}</pre>
                        </a>
                      </td>
                      <td title='{{InfoResource.alias}}'>{{InfoResource.alias}}</td>
                      <td title='{{InfoResource.summary}}'>{{InfoResource.summary}}</td>
                      <td title='{{InfoResource.category_name}}'>{{InfoResource.category_name}}</td>

                      <td title='{{InfoResource.resource_format_name}}'>{{InfoResource.resource_format_name}}</td>
                      <td title='{{InfoResource.item_name}}'>{{InfoResource.item_name}}</td>
                      <td title='{{InfoResource.item_type_name}}'>{{InfoResource.item_type_name}}</td>
                      <td title='{{InfoResource.data_precision}}'>{{InfoResource.data_precision}}</td>
                      <td title='{{InfoResource.data_length}}'>{{InfoResource.data_length}}</td>

                      <td title='{{InfoResource.update_period}}'>{{InfoResource.update_period}}</td>
                      <td title='{{InfoResource.secret_flag_name}}'>{{InfoResource.secret_flag_name}}</td>
                      <td title='{{InfoResource.resource_sn}}'>{{InfoResource.resource_sn}}</td>
                      <td title='{{InfoResource.rel_category_name}}'>{{InfoResource.rel_category_name}}</td>
                      <td title='{{InfoResource.area_range}}'>{{InfoResource.area_range}}</td>
                      <td title='{{InfoResource.area_level}}'>{{InfoResource.area_level}}</td>
                      <td title='{{InfoResource.meter_unit}}'>{{InfoResource.meter_unit}}</td>
                      <td title='{{InfoResource.calculate_method}}'>{{InfoResource.calculate_method}}</td>
                      <td title='{{InfoResource.share_level_name}}'>
                        {{InfoResource.share_level_name}}
                      </td>
                      <td title='{{InfoResource.share_type_name}}'>{{InfoResource.share_type_name}}</td>
                      <td title='{{InfoResource.share_limit}}'>{{InfoResource.share_limit}}</td>
                      <td title='{{InfoResource.share_method_name}}'>{{InfoResource.share_method_name}}</td>
                      <td title='{{InfoResource.social_open_flag_name}}'>{{InfoResource.social_open_flag_name}}</td>
                      <td title='{{InfoResource.social_open_limit}}'>{{InfoResource.social_open_limit}}</td>
                      <td title='{{InfoResource.resource_provider}}'>{{InfoResource.resource_provider}}</td>
                      <td title='{{InfoResource.resource_provider_code}}'>{{InfoResource.resource_provider_code}}</td>
                      <td title={{InfoResource.linkman}}>{{InfoResource.linkman}}</td>
                      <td title='{{InfoResource.contact_phone}}'>{{InfoResource.contact_phone}}</td>
                      <td title='{{InfoResource.create_time | date:"yyyy-MM-dd HH:mm:ss" }}'>{{InfoResource.create_time | date:"yyyy-MM-dd HH:mm:ss" }}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <div class='pull-right'>
          <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
        </div>

      </div>
    </div>

  </div>
</div>
