<div id='department-inventory-detail'>
  <div class="panel panel-default">
    <div class="panel-heading">上传样例数据</div>
    <div class="panel-body"  cg-busy="{promise:uploadPromise,message:'正在上传...'}">
      样式数据扩展名为：csv, xls文件，
      <a>参考样例数据模板</a>
      <input type="file" file-model="myFile" style='margin-top:48px'/>
      <div style='margin-top:50px;'>
        <button class='btn btn-primary' ng-click="uploadFile()">开始上传</button>
        <button class='btn btn-default' type='button' ng-click='toIndex()'>返回</button>
      </div>
    </div>
  </div>


</div>
