<div id='department-inventory-upload'>
  <div class="panel panel-default">
    <div class="panel-heading">上传样例数据</div>
    <div class="panel-body"  cg-busy="{promise:uploadPromise,message:'正在上传...'}">
      样式数据扩展名为：xls,xlsx文件,<button uib-popover-html="htmlPopover"   popover-placement='bottom-left' popover-trigger="focus" type="button" class="btn btn-default">参考样例数据模板</button>
      <input type="file" file-model="myFile" ng-model='fileName' name='fileName'  style='margin-top:48px'/>
      <p class='help-block' ng-show='parentIvntObj.fileNameError'>请上传.xls和.xlsx格式的文件</p>
      <div style='margin-top:50px;'>
        <button class='btn btn-primary' ng-click="uploadFile()"  ng-disabled="parentIvntObj.fileNameError" >开始上传</button>
        <button class='btn btn-default' type='button' ng-click='toIndex()'>返回</button>
      </div>
    </div>
  </div>


</div>
