<div id='inventory-update'>
  <div class="panel panel-default" ng-show='!ResItemListShow'>
    <div class="panel-heading">修改资源信息</div>
    <div class="panel-body">

      <!--Step 1-->
      <div id='indicator-profile'>
        <form name='InfoResourceForm' ng-submit='updateInfoResource(InfoResourceForm.$valid)' class="form-horizontal" novalidate>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>信息资源名称:</label>
            <div class="col-sm-10">
              <input type="text" ng-trim="false" ng-keyup='checkResName()' name='resource_name' required class="form-control" ng-model='InfoResource.resource_name'>
              <span class='help-info'>描述政务信息资源内容的标题</span>
              <p ng-show="InfoResourceForm.resource_name.$error.required && submitted" class="help-block">请输入信息资源名称</p>
              <p ng-show='resNameExist' class='help-block'>信息资源名称已存在！</p>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              信息资源别称:</label>
            <div class="col-sm-10">
              <input type="text"  name='alias' class="form-control" ng-model='InfoResource.alias'>
              <p ng-show="InfoResourceForm.alias.$error.required && submitted" class="help-block">请输入信息资源别称</p>
              <span class='help-info'>提供部门的内部名称或英文名称及简称等</span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>信息资源摘要:</label>
            <div class="col-sm-10">
              <textarea class="form-control" name='summary' required ng-maxlength="256" rows='3' ng-model='InfoResource.summary'></textarea>
              <p ng-show="InfoResourceForm.summary.$invalid.maxlength" class="help-block">输入的内容太长。</p>
              <p ng-show="InfoResourceForm.summary.$error.required && submitted" class="help-block">请输入指标详细解释</p>
              <span class='pull-right'>(最多256个汉字)</span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>信息资源分类:</label>
            <div class="col-sm-10">
              <select ng-model='InfoResource.category' required name='category' class='form-control' style='display: inline-block !important;width: auto;'>
                <option ng-repeat="resourceCategory in  resourceCategoryList" value='{{resourceCategory.id}}'>{{resourceCategory.dict_name}}</option>
              </select>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>信息资源目录代码:</label>
            <div class="col-sm-10">
              <input type="text" required name='resource_sn' class="form-control" ng-model='InfoResource.resource_sn'>
              <span class='help-info'>说明政务信息资源分类的类目信息</span>
            </div>
          </div> -->

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              关联及类目名称:</label>
            <div class="col-sm-10">
              <select ng-model='InfoResource.rel_category'  name='rel_category' class='form-control' style='display: inline-block !important;width: auto;'>
                <option ng-repeat="resourceCategory in  resourceCategoryList" value='{{resourceCategory.id}}'>{{resourceCategory.dict_name}}</option>
              </select>
              <span class='help-info'>政务资源信息关联类别</span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>空间范围:</label>
            <div class="col-sm-10">
              <input type="text" name='area_range' class="form-control" required ng-model='InfoResource.area_range'>
              <p ng-show="InfoResourceForm.area_range.$error.required && submitted" class="help-block">请输入空间范围</p>
              <span class='help-info'>
                可取得数据的地区名称，如全国，四川省，各省等。
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">分地区数据级别:</label>
            <div class="col-sm-10">
              <span ng-repeat="dataLevel in  dataLevelList">
                <input type="checkbox" value="{{dataLevel.id}}" ng-checked="dataLevelSelection.indexOf(dataLevel.id) > -1" ng-click="toggleDataLevelSelection(dataLevel)">
                {{dataLevel.dict_name}}
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>信息资源格式:</label>
            <div class="col-sm-10">
              <select ng-model='InfoResource.resource_format' required name='resource_format' class='form-control' style='display: inline-block !important;width: auto;' ng-change='showHideResAddBtn()'>
                <option ng-repeat='resourceFormat in resourceFormatList' value='{{resourceFormat.id}}'>{{resourceFormat.dict_name}}</option>
              </select>
              <span  ng-class="{true: 'ng-show', false: 'ng-hide'}[resFormatOtherShow]"><input type='text' class='custom-form-control' placeholder='请输入其他信息资源格式' ng-model='InfoResource.resource_format_other' /></span>
              <span ng-class="{true: 'ng-show', false: 'ng-hide'}[resItemAddBtn]"><a class='btn btn-default' ng-click='ResItemListShow = true'><i class='fa fa-plus'></i>&nbsp;信息项</a></span>
              <span ng-class="{true: 'ng-show', false: 'ng-hide'}[resItemUpdateBtn]"><a class='btn btn-default' ng-click='editItems(InfoResource.id)'><i class='fa fa-pencil'></i>&nbsp;信息项</a></span>
              <span class='help-block' ng-show='submitted && resItemAddBtn && (ResourceItemList.length == 0)'>您还未添加任何信息项。</span>
            </div>
          </div>

          <div class="form-group" ng-class="{true: 'ng-show', false: 'ng-hide'}[(!resItemAddBtn) && (!resItemUpdateBtn)]">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>更新周期:</label>
            <div class="col-sm-10">
              <span ng-repeat="sfItem in  shareFrequencyList">
                <input type="checkbox" value="{{sfItem.id}}" name='share_frequency' ng-checked="shareFreqSelection.indexOf(sfItem.id) > -1" ng-click="toggleShareFreqSelection(sfItem)">
                {{sfItem.dict_name}}
              </span>
              <p ng-show="(shareFreqSelection.length == 0) && submitted && !resItemAddBtn" class="help-block">请选择更新周期</p>
            </div>
          </div>

          <div class="form-group"  ng-class="{true: 'ng-show', false: 'ng-hide'}[(!resItemAddBtn) && (!resItemUpdateBtn)]">
            <label for="" class="col-sm-2 control-label"><span class='require-sign'>*</span>是否涉密:</label>
            <div class="col-sm-10">
              <!-- <span ng-repeat="qsflag in  secretFlagList">
                <input type="checkbox" value="{{dataLevel.id}}" ng-checked="dataLevelSelection.indexOf(dataLevel.id) > -1" ng-click="toggleDataLevelSelection(dataLevel)">
                {{dataLevel.dict_name}}
              </span> -->

              <select ng-model='InfoResource.secret_flag' class='custom-form-control' >
                <option ng-repeat="qsflag in  secretFlagList" value='{{qsflag.id}}'>{{qsflag.dict_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group"  ng-class="{true: 'ng-show', false: 'ng-hide'}[(!resItemAddBtn) && (!resItemUpdateBtn)]">
            <label for="" class="col-sm-2 control-label">
              计量单位:</label>
            <div class="col-sm-10">
              <input type="text" name='meter_unit' class="form-control"  ng-model='InfoResource.meter_unit'>
              <p ng-show="InfoResourceForm.meter_unit.$error.required && submitted" class="help-block">请输入计量单位</p>
              <span class='help-info'>
                反映资源信息具体数值的实际度量单位，可对应多个
              </span>
            </div>
          </div>

          <div class="form-group"  ng-class="{true: 'ng-show', false: 'ng-hide'}[(!resItemAddBtn) && (!resItemUpdateBtn)]">
            <label for="" class="col-sm-2 control-label">
              计算方法:</label>
            <div class="col-sm-10">
              <textarea class="form-control" name='calculate_method'  ng-maxlength="256" rows='3' ng-model='InfoResource.calculate_method'></textarea>
              <p ng-show="InfoResourceForm.calculate_method.$invalid.maxlength" class="help-block">输入的内容太长。</p>
              <p ng-show="InfoResourceForm.calculate_method.$error.required && submitted" class="help-block">请输入指标详细解释</p>
              <span class='pull-left help-info'>资源信息统计指标具体数值需要采用的算法</span>
              <span class='pull-right '>(最多256个汉字)</span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>共享级别:</label>
            <div class="col-sm-10">
              <select required ng-model='InfoResource.share_level' name='shareLevelOpt' ng-change='showHideDeps()' class='form-control' style='display: inline-block !important;width: auto;' ng-model='InfoResource.share_level'>
                <option ng-repeat="shareLevel in  shareLevelList" value='{{shareLevel.id}}'>{{shareLevel.dict_name}}</option>
              </select>
              <span ng-class="{true: 'ng-show', false: 'ng-hide'}[depShow]">指定部门名称：
                <div style='display:inline-block' isteven-multi-select input-model="deptList" output-model="outputDeptList" button-label="dep_name" item-label="dep_name" tick-property="ticked"></div>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>共享类型:</label>
            <div class="col-sm-10">
              <select required  ng-model='InfoResource.share_type' class='custom-form-control'>
                <option ng-repeat="shareType in  shareTypeList" value='{{shareType.dict_code}}'>{{shareType.dict_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>共享条件:</label>
            <div class="col-sm-10">
              <textarea class="form-control" name='share_limit' required ng-maxlength="256" rows='3' placeholder='有条件共享类可注明共享条件和共享范围；不予共享类注明相关的法律、行政法规和党中央、国务院政策依据。' ng-model='InfoResource.share_limit'></textarea>
              <p ng-show="InfoResourceForm.share_limit.$invalid.maxlength" class="help-block">输入的内容太长。</p>
              <p ng-show="InfoResourceForm.share_limit.$error.required && submitted" class="help-block">请输入指标详细解释</p>
              <span class='pull-right'>(最多256个汉字)</span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>共享方式:</label>
            <div class="col-sm-10">
              <select ng-model='InfoResource.share_method' required name='share_method' ng-change='showHideShareMethodOther()' class='form-control' style='display: inline-block !important;width: auto;'>
                <option ng-repeat="shareMethod in  shareMethodList" value='{{shareMethod.id}}'>{{shareMethod.dict_name}}</option>
              </select>
              <span ng-class="{true: 'ng-show', false: 'ng-hide'}[shareMethodOtherShow]">
                <input type='text' name='share_method_other' class='custom-form-control' ng-model='InfoResource.share_method_other' placeholder='请输入其他类信息' />
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label"><span class='require-sign'>*</span>是否面向社会开放:</label>
            <div class="col-sm-10">
              <select ng-model='InfoResource.social_open_flag' readonly='{{socialOpenFlag}}' class='custom-form-control' required>
                <option ng-selected="socialOpen.dict_code == InfoResource.social_open_flag" ng-repeat="socialOpen in  socialOpenList" value='{{socialOpen.dict_code}}'>{{socialOpen.dict_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              开放条件:</label>
            <div class="col-sm-10">
              <textarea class="form-control" placeholder='描述对数据开放利用的约束条件' name='social_open_limit'  ng-maxlength="256" rows='3' placeholder='有条件共享类可注明共享条件和共享范围；不予共享类注明相关的法律、行政法规和党中央、国务院政策依据。' ng-model='InfoResource.social_open_limit'></textarea>
              <p ng-show="InfoResourceForm.social_open_limit.$invalid.maxlength" class="help-block">输入的内容太长。</p>
              <span class='pull-right'>(最多256个汉字)</span>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>信息资源提供方:</label>
            <div class="col-sm-10">
              <input type="text" required name='resource_provider' readonly class="form-control"  ng-model='InfoResource.resource_provider'>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-2 control-label">
              <span class='require-sign'>*</span>资源提供方代码:</label>
            <div class="col-sm-10">
              <input type="text" required name='resource_provider_code' readonly class="form-control"  ng-model='InfoResource.resource_provider_code'>
            </div>
          </div>


          <div class="form-group">
            <label for="" class="col-sm-2 control-label">联系人:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model='InfoResource.linkman'>
              <span class='help-info'>
                具有指标解释权的联系人名字。
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">联系电话:</label>
            <div class="col-sm-10">
              <input type="text" name='contact_phone' ng-pattern='/^(\d{3,4}-)?\d{7,8}$|(1[3|4|5|7|8]\d{9})/' class="form-control" ng-model='InfoResource.contact_phone'>
              <p ng-show="InfoResourceForm.contact_phone.$invalid" class="help-block">请输入正确的联系电话</p>
              <span class='help-info'>
                具有指标解释权的联系部门或联系人电话。
              </span>
            </div>
          </div>

          <div class="pull-right">
            <div class="btn btn-group">
              <button class="btn btn-default " ng-click='close()'>取消</button>
            </div>
            <div class="btn btn-group">
              <button class="btn btn-success " ng-disabled="InfoResourceForm.$invalid" type='submit'>保存</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.Step 1 -->

    </div>

  </div>


  <!--panel resource item-->
  <div class="panel panel-default" ng-show='ResItemListShow'>
    <div class="panel-heading">信息项信息</div>
    <div class="panel-body">
      <div><button class='btn btn-success' ng-click='addResourceItem(1)'>新增</button></div>
      <div style='overflow-x:scroll;height:490px;'>
      <div class='container'>
        <table class='table table-hover table-striped '>
          <thead>
            <tr>
              <th width='40px'>序号</th>
              <th width='80px'>操作</th>
              <th width='80px'>信息项名称</th>
              <th width='100px'>数据类型</th>
              <th width='80px'>数据精度</th>
              <th width='80px'>数据长度</th>
              <th width='80px'>计量单位</th>
              <th width='80px'>计算方法</th>
              <th width='80px'>更新周期</th>
              <th width='80px'>是否涉密</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='rescoureItem in ResourceItemListShow | orderBy:"-create_time" '>
              <!-- <td><input type='checkbox' ng-click='deleteReq(rescoureItem.id)' />删除</td> -->
              <td>{{$index+1}}</td>
              <td><a class='delete' ng-click='deleteItem($index)' ><i class='fa fa-trash'></i>&nbsp;删除</a>
              <a class='edit' ng-click='updateItem(rescoureItem)'><i class='fa fa-pencil'></i>&nbsp;修改</a></td>
              <td title='{{rescoureItem.item_name}}'>{{rescoureItem.item_name}}</td>
              <td title='{{rescoureItem.item_type}}'>{{rescoureItem.item_type_name}}</td>
              <td title='{{rescoureItem.data_precision}}'>{{rescoureItem.data_precision}}</td>
              <td title='{{rescoureItem.data_length}}'>{{rescoureItem.data_length}}</td>
              <td title='{{rescoureItem.meter_unit}}'>{{rescoureItem.meter_unit}}</td>
              <td title='{{rescoureItem.calculate_method}}'>{{rescoureItem.calculate_method}}</td>
              <td title='{{rescoureItem.shareFreqDictName}}'>{{rescoureItem.update_period_name}}</td>
              <td title='{{rescoureItem.secret_flag}}'>{{rescoureItem.secret_flag_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="pull-right">
        <div class="btn btn-group">
          <button class="btn btn-success "  type='submit' ng-click='ResItemListShow = false'>保存</button>
        </div>
      </div>
    </div>
  </div>
  <!--/.panel resource item-->
</div>

<script type='text/ng-template' id='item-add-modal.html'>
  <form class="form-horizontal"  class="form-horizontal" novalidate name='addItemForm'>
    <div class='modal-header'>
      <h4>
        <i class="fa fa-plus"></i>
        {{Modal.type}}数据项
        <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
      </h4>

    </div>
    <div class='modal-body'>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            <span class='require-sign'>*</span>信息项名称:</label>
          <div class="col-sm-10">
            <input type="text" name='item_name' class="form-control" required ng-model='ResourceItem.item_name' ng-keyup='checkItemName()'>
            <p ng-show="addItemForm.item_name.$error.required && itemAdded" class="help-block">请输入信息项名称</p>
            <p ng-show="parent.itemNameExist" class="help-block">信息项名称已存在！</p>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label"><span class='require-sign'>*</span>数据类型:</label>
          <div class="col-sm-10">
            <select ng-model='data.item_type' ng-options="o as o.dict_name for o in  itemTypeList track by o.id" class='custom-form-control' >
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            <span class='require-sign'>*</span>数据精度:</label>
          <div class="col-sm-10">
            <input type="text" name='data_precision' class="form-control" required ng-model='ResourceItem.data_precision'>
            <p ng-show="addItemForm.data_precision.$error.required  && itemAdded" class="help-block">请输入数据精度</p>
            <span class='help-info'>
              数值型指标数据定义的数据存储的小数位数。如：小数点后取2位
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            <span class='require-sign'>*</span>数据长度:</label>
          <div class="col-sm-10">
            <input type="text" name='data_length' class="form-control" required ng-model='ResourceItem.data_length'>
            <p ng-show="addItemForm.data_length.$error.required && itemAdded" class="help-block">请输入数据长度</p>
            <span class='help-info'>
              指标数据的最大长度。如：小于9位
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            计量单位:</label>
          <div class="col-sm-10">
            <input type="text" name='meter_unit' class="form-control"  ng-model='ResourceItem.meter_unit'>
            <span class='help-info'>反映资源信息具体数值的实际度量单位，可对应多个
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            计算方法:</label>
          <div class="col-sm-10">
            <textarea class="form-control" name='calculate_method'  ng-maxlength="256" rows='3' ng-model='ResourceItem.calculate_method'></textarea>
            <p ng-show="addItemForm.calculate_method.$invalid.maxlength" class="help-block">输入的内容太长。</p>
            <span class='pull-left'>资源信息统计指标具体数值需要采用的算法</span>
            <span class='pull-right'>(最多256个汉字)</span>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">
            <span class='require-sign'>*</span>更新周期:</label>
          <div class="col-sm-10">
            <span ng-repeat="sfItem in  shareFrequencyList">
              <input type="checkbox" value="{{sfItem.id}}" name='share_frequency' ng-checked="shareFreqItemSelection.indexOf(sfItem.id) > -1" ng-click="toggleShareFreqItemSelection(sfItem)">
              {{sfItem.dict_name}}
            </span>
            <p ng-show="shareFreqEmpty" class="help-block">请选择更新周期</p>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label"><span class='require-sign'>*</span>是否涉密:</label>
          <div class="col-sm-10">
            <!-- <span ng-repeat="qsflag in  secretFlagList">
              <input type="checkbox" value="{{dataLevel.id}}" ng-checked="dataLevelSelection.indexOf(dataLevel.id) > -1" ng-click="toggleDataLevelSelection(dataLevel)">
              {{dataLevel.dict_name}}
            </span> -->

            <select ng-model='data.secret_flag' required ng-options="qsflag as qsflag.dict_name for qsflag in  secretFlagList track by qsflag.id" class='custom-form-control' >
            </select>
          </div>
        </div>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' ng-disabled="addItemForm.$invalid" ng-click="Modal.confirm()">保存</button>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>关闭</button>
    </div>
  </div>
</form>
</script>
