<div id='department-inventory-detail'>
  <div class="panel panel-default">
    <div class="panel-heading">共享指标详情</div>
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{true: 'active', false: 'inactive'}[!exampData.show]">
          <a ng-click='exampData.show = false' aria-controls="info" role="tab" data-toggle="tab">指标详情</a>
        </li>
        <li role="presentation" ng-class="{true: 'active', false: 'inactive'}[exampData.show]">
          <a ng-click='exampData.show = true' aria-controls="exampleData" role="tab" data-toggle="tab">样例数据</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content container-fluid">
        <div role="tabpanel" class="tab-pane" ng-class="{true: 'active', false: 'inactive'}[!exampData.show]" id="invntDetail">
          <div class='row'>
            <label class='col-sm-2 text-right'>序号:</label>
            <div class='col-sm-10'>1</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>指标名称:</label>
            <div class='col-sm-10'><pre>{{DataQuotaDetail.quota_name}}</pre></div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>指标别称:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.alias}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>计量单位:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.meter_unit}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>指标详细解释:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.quota_detail}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>计算方法:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.calculate_method}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>共享频率:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.sharefrequency}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>空间范围:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.area_range}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>分地区数据级别:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.regionallevel}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>来源部门:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.depname}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>共享级别:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.sharelevel}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>数据存储类型:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.datastoretype}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>数据精度:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.data_precision}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>数据长度:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.data_length}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>创建时间:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.create_time| date:"yyyy-MM-dd hh:mm:ss"}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>数据表示格式:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.datashowformat}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>是否涉密:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.secretflag}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>联系人:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.linkman}}</div>
          </div>
          <div class='row'>
            <label class='col-sm-2 text-right'>联系电话:</label>
            <div class='col-sm-10'>{{DataQuotaDetail.contact_phone}}</div>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{true: 'active', false: 'inactive'}[exampData.show]" id="exampleData">
          <h3 class='data-title'>{{DataQuotaExamples.file_name}}</h3>
          <!-- Table -->
          <table class='table table-hover table-striped '>
            <thead>
              <tr>
                <th ng-repeat='DQTitle in DataTitle track by $index'>{{DQTitle}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='ExampData in DataColumn'>
                <td ng-repeat='CellData in ExampData track by $index'>{{CellData}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
