<div id='department-inventory'>
  <div class='indicator-order'>
    <div class='pull-left'>
      <p class='font-18'>科技局 [10]</p>
    </div>
    <div class='pull-right'>
      <ul class="nav nav-pills">
        <li role="presentation">
          <a href="javascript:;">默认排序</a>
        </li>
        <li role="presentation">
          <a href="javascript:;">最新指标</a>
        </li>
        <li role="presentation">
          <a href="javascript:;">浏览量</a>
        </li>
      </ul>
    </div>
  </div>
  <div class='indicator-filter'>
    <label class='filter-title'>共享级别</label>
    <ul class="nav nav-pills filter-list">
      <li role="presentation">
        <a href="javascript:;">全部</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">全开放[10]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">政务云开放</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">授权开放[10]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">暂不开放[20]</a>
      </li>
    </ul>
  </div>
  <div class='indicator-filter'>
    <label class='filter-title'>空间范围</label>
    <ul class="nav nav-pills filter-list">
      <li role="presentation">
        <a href="javascript:;">全部</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">省级数据[10]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">分地/市/州数据</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">分县数据[10]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">分乡数据[20]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">分村数据[20]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">全国数据[20]</a>
      </li>
      <li role="presentation">
        <a href="javascript:;">分省数据[20]</a>
      </li>
    </ul>
  </div>

  <!-- indicator inventory list -->
  <div class='indicator-list'>
    <ul class='list-box'>
      <li>
        <div class="panel panel-default ">
          <div class="panel-heading item-heading">
            <div class='pull-left'>
              <span>上传日期：2016-04-16</span>
              <span class='options'>
                <a title='修改'><i  class='fa fa-pencil'></i></a>
                <a title='删除'><i  class='fa fa-trash'></i></a>
              </span>
            </div>
            <div class='pull-right'>浏览：10</div>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left item-icon">
                <a href="javascript:;" class='font-50'>
                  <i class='fa fa-line-chart'></i>
                </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading main-heading">科技交换指标
                  </h4>
                <h5>摘要：四川省21个地市州，2015年科技项目交换指标</h5>
                <div class='item-label'>
                  <label class='border-primary'>省级指标</label>
                  <label class='border-info'>全开放</label>
                </div>
                <div class='row font-13 margin-top14'>
                  <div class='col-sm-3'>提供部门：四川省科技局</div>
                  <div class='col-sm-3'>联系人：李一</div>
                  <div class='col-sm-3'>联系方式：028-86524152</div>
                  <div class='col-sm-3'>发布日期：2016-02-10</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
