<div id='department-main'>
  <!-- BEGIN MAIN -->
  <div class='container'>
    <div class='row'>
      <!-- BEGIN SIDEBAR -->
      <aside class='sidebar'>
        <div class='body'>
          <ul class="list-group">
            <li class="list-group-item">
              <a ui-sref='main.department'>部门首页</a>
            </li>
            <li class="list-group-item sub-item">
              <a ui-sref='main.department.inventory'>部门指标</a>
            </li>
            <li class="list-group-item sub-item">
              <a ui-sref='main.department.share'>共享指标</a>
            </li>
            <li class="list-group-item sub-item has-sub">
              需求清单
              <ul class="list-group sub-head">
                <li class="list-group-item sub-third-item">
                  <a ui-sref='main.department.requirement'>本部门需求</a>
                </li>
                <li class="list-group-item sub-third-item">
                  <a ui-sref='main.department.requirementConfirm'>需求确认</a>
                </li>
              </ul>
            </li>
            <li class="list-group-item sub-item">
              <a ui-sref='main.department.audit'>指标审核</a>
            </li>
          </ul>
        </div>
      </aside>
      <!-- END SIDEBAR -->
      <!-- UI Router -->
      <div id='ui-view-department' ui-view>
        <div class='department-main'>
          <div class='row'>
            <div class='col-lg-3 col-md-6 left'>
              <div class='panel panel-primary'>
                <div class='panel-heading'>
                  <div class='row'>
                    <div class='col-xs-3'>
                      <i class='fa fa-list-alt fa-3x'></i>
                    </div>
                    <div class='col-xs-9 text-right'>
                      <div class='font-16'>{{Count.data_quota_number}}</div>
                      <div>部门指标</div>
                    </div>
                  </div>
                </div>
                <div class='panel-footer'>
                  本月新增 +{{Count.data_quota_number_inc}}
                </div>
              </div>
            </div>

            <div class='col-lg-3 col-md-6 right'>
              <div class='panel panel-green'>
                <div class='panel-heading'>
                  <div class='row'>
                    <div class='col-xs-3'>
                      <i class='fa fa-share-square-o fa-3x'></i>
                    </div>
                    <div class='col-xs-9 text-right'>
                      <div class='font-16'>{{Count.data_apply_number}}</div>
                      <div>共享指标</div>
                    </div>
                  </div>
                </div>
                <div class='panel-footer'>
                  本月新增 +{{Count.data_apply_number_inc}}
                </div>
              </div>
            </div>

            <div class='col-lg-3 col-md-6 right'>
              <div class='panel panel-yellow'>
                <div class='panel-heading'>
                  <div class='row'>
                    <div class='col-xs-3'>
                      <i class='fa fa-commenting-o fa-3x'></i>
                    </div>
                    <div class='col-xs-9 text-right'>
                      <div class='font-16'>{{Count.data_req_number}}</div>
                      <div>需求清单</div>
                    </div>
                  </div>
                </div>
                <div class='panel-footer'>
                  本月新增 +{{Count.data_req_number_inc}}
                </div>
              </div>
            </div>

            <div class='col-lg-3 col-md-6 right'>
              <div class='panel panel-red'>
                <div class='panel-heading'>
                  <div class='row'>
                    <div class='col-xs-3'>
                      <i class='fa fa-file-text fa-3x'></i>
                    </div>
                    <div class='col-xs-9 text-right'>
                      <div class='font-16'>{{Count.data_apply_wait_number}}</div>
                      <div>待审核指标</div>
                    </div>
                  </div>
                </div>
                <div class='panel-footer'></div>
              </div>
            </div>
          </div>

          <div class='row panel-list'>
            <div class='col-sm-6 left'>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class='pull-left'>待审核清单（{{auditTotal}}）</div>
                  <div class='pull-right'>更多...</div>
                </div>
                <div class='panel-body'>
                  <!-- Table -->
                  <table class='table table-hover table-striped'>
                    <thead>
                      <tr>
                        <th>申请日期</th>
                        <th>指标名称</th>
                        <th>申请单位</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat='invtItem in toAuditList'>
                        <td>{{invtItem.create_time |date:"yyyy-MM-dd hh:mm:ss"}}</td>
                        <td>{{invtItem.quota_name}}</td>
                        <td>{{invtItem.depname}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class='col-sm-6 right'>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class='pull-left'>最新需求列表（{{reqTotal}}）</div>
                  <div class='pull-right'>更多...</div>
                </div>
                <div class='panel-body'>
                  <!-- Table -->
                  <table class='table table-hover table-striped'>
                    <thead>
                      <tr>
                        <th>响应日期</th>
                        <th>需求发布日期</th>
                        <th>需求名称</th>
                        <th>响应单位</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat='resItem in requireToConfirmList'>
                        <td>{{resItem.response_time |date:"yyyy-MM-dd hh:mm:ss"}}</td>
                        <td>{{resItem.create_time| date:"yyyy-MM-dd hh:mm:ss"}}</td>
                        <td>{{resItem.requiement_name}}</td>
                        <td>{{resItem.dep_name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class='row panel-list'>
            <div class=''>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class='pull-left'>关注部门</div>
                </div>
                <div class='panel-body'>
                  <div class='focus-bureau-list'>
                    <div ng-repeat='bureau in outputDeptList' class='bureau-item col-md-3'>
                      <a ui-sref='main.inventory.detail({departmentID: bureau.ID})' class='thumbnail'>
                        <img ng-src='../styles/images/bureau/{{::bureau.DEP_EN_NAME}}' title='{{::bureau.DEP_NAME}}'>
                      </a>
                      <div class="caption">
                        {{bureau.DEP_NAME}}
                      </div>
                    </div>
                    <div class='col-md-2 add-focus-option'>
                        <div class='dep-select' ng-show='depSelect.show'>
                          <div  isteven-multi-select  input-model='deptList' output-model='outputDeptList' button-label='DEP_NAME' item-label='DEP_NAME' tick-property='ticked'></div>
                          <div class='btn btn-group'>
                            <button class='btn btn-primary'>关注</button>
                            <button class='btn btn-cancel'>取消</button>
                          </div>
                        </div>

                      <button  title='添加关注部门' class="btn btn-default" ng-click='depSelect.show = true'>
                        <i class='fa fa-plus'></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
