<div id='department-requirement-detail'>
  <!-- BEGIN MAIN -->
  <div class='requirement-detail'>
    <div class="panel panel-default">
      <div class="panel-heading">需求明细
        <a class='btn btn-xs pull-right' ui-sref='main.department.requirement'>返回</a>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>需求名称</dt>
          <dd>{{ReqDetail.requiement_name}}</dd>

          <dt>需求发布日期</dt>
          <dd>{{ReqDetail.create_time | date:"yyyy-MM-dd HH:mm:ss"}}</dd>

          <dt>需求简介</dt>
          <dd>{{ReqDetail.requiement_desc}}</dd>

          <dt>来源</dt>
          <dd>{{ReqDetail.dep_name}}</dd>

          <dt>共享频率</dt>
          <dd>{{ReqDetail.sharefrequency}}</dd>

          <dt>空间范围</dt>
          <dd>{{ReqDetail.area_range}}</dd>

          <dt>数据级别</dt>
          <dd>{{ReqDetail.regionallevel}}</dd>

          <dt>联系人</dt>
          <dd>{{ReqDetail.linkman}}</dd>

          <dt>联系电话</dt>
          <dd>{{ReqDetail.phone}}</dd>
        </dl>

        <h4>需求响应</h4>
        <dl class="dl-horizontal">
          <dt>响应日期</dt>
          <dd>{{ReqDetail.response_time |  date:"yyyy-MM-dd HH:mm:ss"}}</dd>

          <dt>响应部门</dt>
          <dd>{{ReqDetail.response_dep_name}}</dd>

          <dt>响应人</dt>
          <dd>{{ReqDetail.responser}}</dd>

          <dt>内容说明</dt>
          <dd>{{ReqDetail.response_content}}</dd>
        </dl>
      </div>
    </div>

  </div>
</div>
