<div id='ui-view-department-req' ui-view>
  <div id='department-requirement'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>需求清单</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation" class='indicator-total'>
            本部门需求总数
            <span class='num'>{{Paging.totalItems}}</span>
          </li>
          <li role="presentation">
            <input type="text" class='input-filter' placeholder="请输入查询需求名称" ng-model='DeptRequirement.req_name_filter'>
            <button type="button" class="btn btn-primary" ng-click='searchDeptReqByName()'>查询</button>
          </li>
          <li role="presentation">
            <button class='btn btn-success' ng-click='publishReq()'>
              <i class='fa fa-plus'></i>发布需求</button>
          </li>
        </ul>
      </div>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <ul class="nav nav-filter">
            需求状态
            <li role="presentation">
              <span>
                <a ng-click='filterByConfirmStatus()'><i class='fa fa-list-ul'></i>&nbsp;全部&nbsp;</span></a>
            </li>
            <li role="presentation">
              <span>
                <a ng-click='filterByConfirmStatus(1)'><i class='fa fa-check-circle'></i>&nbsp;已确认&nbsp;</span></a>
            </li>
            <li role="presentation">
              <span>
                <a ng-click='filterByConfirmStatus(0)'><i class='fa fa-question-circle'></i>&nbsp;未确认&nbsp;</a></span>
            </li>
            <li role="presentation">
              <span>
                <a ng-click='filterByConfirmStatus(2)'><i class='fa fa-times-circle-o'></i>&nbsp;未通过&nbsp;</a></span>
            </li>
          </ul>
        </div>

        <div class='panel-body' style='overflow-x:scroll' cg-busy="{promise:reqPromise,message:'加载中',backdrop:backdrop,delay:delay,minDuration:minDuration}">
          <div class='' style='width:1400px;'>
            <div class='row'>
              <div class='col-lg-12'>
                <!-- Table -->
                <table class='table table-hover table-striped '>
                  <thead>
                    <tr>
                      <!-- <th>操作</th> -->
                      <th width='70px'>操作</th>
                      <th width='40px'>状态</th>
                      <th width='100px'>需求日期</th>
                      <th width='100px'>确认日期</th>
                      <th width='100px'>需求名称</th>
                      <th width='100px'>需求说明</th>
                      <th width='80px'>共享频率</th>
                      <th width='60px'>空间范围</th>
                      <th width='80px'>数据级别</th>
                      <th width='60px'>联系人</th>
                      <th width='80px'>联系电话</th>
                      <th width='80px'>对应部门</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='DeptReq in requirementList | orderBy:"-create_time" '>
                      <td>
                        <div ng-if='DeptReq.status == 0'>
                          <a class='delete' ng-click='deleteReq(DeptReq.id)' ><i class='fa fa-trash'></i>&nbsp;删除</a>
                        <a class='edit' ng-click='updateReq(DeptReq)'><i class='fa fa-pencil'></i>&nbsp;修改</a>
                        </div>
                        </td>
                      <td>
                        <div ng-if='DeptReq.status == 0'>
                          <span>
                            <i class='fa fa-question-circle'></i>
                          </span>
                        </div>
                        <div ng-if='DeptReq.status == 1'>
                          <span>
                            <i class='fa fa-check-circle'></i>
                          </span>
                        </div>
                        <div ng-if='DeptReq.status == 2'>
                          <span>
                            <i class='fa fa-times-circle-o'></i>
                          </span>
                        </div>
                      </td>
                      <td title='{{DeptReq.create_time| date:"yyyy-MM-dd HH:mm:ss"}}'>{{DeptReq.create_time| date:"yyyy-MM-dd HH:mm:ss"}}</td>
                      <td title='{{DeptReq.response_time |
                      date:"yyyy-MM-dd HH:mm:ss"}}'>{{DeptReq.response_time |
                      date:"yyyy-MM-dd HH:mm:ss"}}</td>
                      <td title='{{DeptReq.requiement_name}}'>
                        <a ui-sref='main.department.requirement.detail({ID:DeptReq.id})'>{{DeptReq.requiement_name}}
                        </a></td>
                      <td title='{{DeptReq.requiement_desc}}'>{{DeptReq.requiement_desc}}</td>
                      <td title='{{DeptReq.sharefrequency}}'>{{DeptReq.sharefrequency}}</td>
                      <td title='{{DeptReq.area_range}}'>{{DeptReq.area_range}}</td>
                      <td title='{{DeptReq.regionallevel}}'>{{DeptReq.regionallevel}}</td>
                      <td title='{{DeptReq.linkman}}'>{{DeptReq.linkman}}</td>
                      <td title='{{DeptReq.phone}}'>{{DeptReq.phone}}</td>
                      <td title='{{DeptReq.response_dep_name}}'>
                        {{DeptReq.response_dep_name}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class='pull-right'>
          <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Add requirement modal -->
<script type='text/ng-template' id='add-req-modal.html'>
  <form class="form-horizontal publish-req-modal" name='reqAddForm'>

    <div class='modal-header'>
      <i class="fa fa-server"></i>
      {{Modal.type}}需求
      <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
    </div>
    <div class='modal-body'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>需求名称 :</label>
        <div class="col-sm-10">
          <input type="text" name='requiement_name' class="form-control" ng-model='Modal.DepRequirment.requiement_name' ng-maxlength='256' required>
          <p ng-show="reqAddForm.requiement_name.$error.maxlength" class="help-block">您输入的内容太长，最多输入256个字符。</p>
          <span class='help-info'>需具体说明需求具体名称</span>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>需求说明 :</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" ng-maxlength="256" rows='3' name='requiement_desc' ng-model='Modal.DepRequirment.requiement_desc' required></textarea>
          <p ng-show="reqAddForm.requiement_desc.$error.maxlength" class="help-block">您输入的内容太长。</p>
          <span class='help-info pull-left'>简要说明需求基本信息</span>
          <span class='pull-right'>(最多256个汉字)</span>

        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>共享频率:</label>
        <div class="col-sm-10">
          <span ng-repeat="sfItem in  shareFrequencyList">
            <input type="checkbox" value="{{sfItem.id}}" ng-checked="shareFreqSelection.indexOf(sfItem.id) > -1" ng-click="toggleShareFreqSelection(sfItem)">
            {{sfItem.dict_name}}
          </span>
          <p class='help-block' ng-show='shareFreqSelection.length == 0 && submitted'>请选择共享频率</p>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>空间范围:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-maxlength='256' required name='area_range' ng-model='Modal.DepRequirment.area_range'>
          <p ng-show="reqAddForm.area_range.$error.maxlength" class="help-block">您输入的内容太长，最多输入256个字符。</p>
          <span class='help-info'>
            可取得数据的地区名称，如全国，四川省，各省等。
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">分地区数据级别:</label>
        <div class="col-sm-10">
          <span ng-repeat="dataLevel in  dataLevelList">
            <input type="checkbox" value="{{dataLevel.ID}}" ng-checked="dataLevelReqSelection.indexOf(dataLevel.id) > -1" ng-click="toggleDataLevelReqSelection(dataLevel)">
            {{dataLevel.dict_name}}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>联系人 :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-maxlength='256' name='linkman' ng-model='Modal.DepRequirment.linkman' required>
          <p ng-show="reqAddForm.linkman.$error.maxlength" class="help-block">您输入的内容太长，最多输入256个字符。</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>联系电话 :</label>
        <div class="col-sm-10">
          <input type="text" name='contact_phone' ng-pattern='/^(\d{3,4}-)?\d{7,8}$|(^1[3|4|5|7|8]\d{9}$)/'  class="form-control" ng-model='Modal.DepRequirment.phone' required>
          <p class='help-block' ng-show='reqAddForm.contact_phone.$invalid && !reqAddForm.contact_phone.$pristine'>请输入正确的联系电话</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <span class='require-sign'>*</span>需求对应部门:</label>
        <div class="col-sm-10">
          <div style='display:inline-block' isteven-multi-select input-model="deptList" output-model="reqParent.outputDeptList" button-label="dep_name" item-label="dep_name" tick-property="ticked" selection-mode="single" max-height="250px" helper-elements="filter"></div>
          <p class='help-block' ng-show='error && (reqParent.outputDeptList.length == 0)'>请选择需求对应部门</p>
        </div>
      </div>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>取消</button>
      <button class='btn btn-success' ng-disabled="reqAddForm.$invalid" type='submit' ng-click='Modal.confirm(reqAddForm.$valid)'>保存</button>
    </div>
  </div>
</form>
</script>
