<div id='department-requirement-confirm'>
  <div class='indicator-order'>
    <div class='pull-left'>
      <p class='font-18'>需求清单</p>
    </div>
    <div class='pull-right'>
      <ul class="nav nav-pills">
        <li role="presentation" class='indicator-total'>
          本部门需求总数
          <span class='num'>{{Paging.totalItems}}</span>
        </li>
        <li role="presentation">
          <input type="text" class='input-filter' placeholder="请输入查询需求名称" ng-model='DeptRequirementConfirm.req_name_filter'>
          <button type="button" class="btn btn-primary" ng-click='searchDeptReqConfirmByName()'>查询</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- indicator inventory list -->
  <div class='indicator-list'>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <ul class="nav nav-filter">
          状态
          <li role="presentation" class="active">
            <span>全部&nbsp;</a>
          </li>
          <li role="presentation" class="active">
            <span>
              <i class='fa fa-check-circle'></i>&nbsp;已确认&nbsp;</span>
          </li>
          <li role="presentation">
            <span>
              <i class='fa fa-times-circle-o'></i>&nbsp;未通过&nbsp;</span>
          </li>
        </ul>
      </div>

      <div class='panel-body'>
        <div class=''>
          <div class='row'>
            <div class='col-lg-12'>
              <!-- Table -->
              <table class='table table-hover table-striped '>
                <thead>
                  <tr>
                    <th>状态</th>
                    <th>需求日期</th>
                    <th>确认日期</th>
                    <th>需求名称</th>
                    <th>需求说明</th>
                    <th>共享频率</th>
                    <th>空间范围</th>
                    <th>数据级别</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>对应部门</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='DeptReq in requirementConfirmList'>
                    <td><div ng-if='DeptReq.status == 0'><span>
                      <i class='fa fa-question-circle'></i></span><a ng-click='toConfirm(DeptReq)'>确认</a></div>
                      <div ng-if='DeptReq.status == 1'><span>
                        <i class='fa fa-check-circle'></i></span></div>
                        <div ng-if='DeptReq.status == 2'><span>
                          <i class='fa fa-times-circle-o'></i></span></div></td>
                    <td title='{{DeptReq.create_time| date:"yyyy-MM-dd hh:mm:ss"}}'>{{DeptReq.create_time| date:"yyyy-MM-dd hh:mm:ss"}}</td>
                    <td title='{{DeptReq.response_time |date:"yyyy-MM-dd hh:mm:ss"}}'>{{DeptReq.response_time |date:"yyyy-MM-dd hh:mm:ss"}}</td>
                    <td title='{{DeptReq.requiement_name}}'>{{DeptReq.requiement_name}}</td>
                    <td title='{{DeptReq.requiement_desc}}'>{{DeptReq.requiement_desc}}</td>
                    <td title='{{DeptReq.sharefrequency}}'>{{DeptReq.sharefrequency}}</td>
                    <td title='{{DeptReq.area_range}}'>{{DeptReq.area_range}}</td>
                    <td title='{{DeptReq.regionallevel}}'>{{DeptReq.regionallevel}}</td>
                    <td title='{{DeptReq.linkman}}'>{{DeptReq.linkman}}</td>
                    <td title='{{DeptReq.phone}}'>{{DeptReq.phone}}</td>
                    <td title='{{DeptReq.dep_name}}'>
                      {{DeptReq.dep_name}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class='pull-right'>
        <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
      </div>

    </div>
  </div>

</div>

<script type='text/ng-template' id='confirm-req-modal.html'>
  <form class="form-horizontal confirm-req-modal" name='reqConfirmForm'>

    <div class='modal-header'>
      <i class="fa fa-server"></i>
      需求确认
      <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
    </div>
    <div class='modal-body'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">状态:</label>
        <div class="col-sm-10">
          <input type='radio' ng-click='dataQuotaShow = true' ng-model='Modal.ReqResponse.status' value='1' />通过&nbsp;
          <input type='radio' ng-click='dataQuotaShow = false' ng-model='Modal.ReqResponse.status' value='2' />不通过
        </div>
      </div>

      <div class="form-group" ng-show='dataQuotaShow'>
        <label for="" class="col-sm-2 control-label">指标：</label>
        <div class='col-sm-8 apply-dept'>

          <select class='form-control' ng-model='Modal.ReqResponse.data_quota_id'>
            <option ng-repeat ='depQuota in depQuotaReqList'  value={{depQuota.id}}>{{depQuota.quota_name}}</option>
          </select>

          <span class='help-info'>根据需求选择对应的指标信息</span>
        </div>
        <!-- <div class='col-sm-2'>
          <button class='btn btn-default'>
            <i class='fa fa-plus'></i>
          </button>
        </div> -->
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">说明:</label>
        <div class="col-sm-10">
          <textarea class="form-control" ng-model='Modal.ReqResponse.response_content'></textarea>
          <span class='help-info pull-left'>简要说明需求基本信息</span>
          <span class='pull-right'>(最多256个汉字)</span>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' ng-disabled="reqConfirmForm.$invalid" type='submit' ng-click='Modal.confirm(reqConfirmForm.$valid)'>提交</button>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>取消</button>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">需求信息</div>
      <div class="panel-body">
        <table class='table req-detail' style='width:60%;' border='0'>
          <tbody>
            <tr>
              <td align='right'>需求发布日期：</td>
              <td>{{Modal.ReqDetail.create_time | date:"yyyy-MM-dd hh:mm:ss"}}</td>
            </tr>
            <tr>
              <td align='right'>需求名称：</td>
              <td>{{Modal.ReqDetail.requiement_name}}</td>
            </tr>
            <tr>
              <td align='right'>需求说明：</td>
              <td>{{Modal.ReqDetail.requiement_desc}}</td>
            </tr>
            <tr>
              <td align='right'>共享频率：</td>
              <td>{{Modal.ReqDetail.sharefrequency}}</td>
            </tr>
            <tr>
              <td align='right'>空间范围</td>
              <td>{{Modal.ReqDetail.area_range}}</td>
            </tr>
            <tr>
              <td align='right'>数据级别：</td>
              <td>{{Modal.ReqDetail.regionallevel}}</td>
            </tr>
            <tr>
              <td align='right'>联系人：</td>
              <td>{{Modal.ReqDetail.linkman}}</td>
            </tr>
            <tr>
              <td align='right'>联系电话：</td>
              <td>{{Modal.ReqDetail.phone}}</td>
            </tr>
            <tr>
              <td align='right'>来源：</td>
              <td>{{Modal.ReqDetail.dep_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
</script>
