<div id='department-requirement-publish'>
  <div class="panel panel-default">
  <div class="panel-heading">发布需求</div>
  <div class="panel-body">
    <form class="form-horizontal ">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">需求名称
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">需求简介<span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <textarea class="col-sm-12" rows='3'></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系人<span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系电话<span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">邮箱:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class='pull-right'>
        <div class="btn-group">
          <button class="btn btn-primary ">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
