<div id='department-requirement-detail'>
  <!-- BEGIN MAIN -->
    <div class='row'>
      <div class='requirement-detail'>
        <div class="panel panel-default">
          <div class="panel-heading">需求明细</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>需求名称</dt>
              <dd>科技项目交换指标</dd>

              <dt>需求简介</dt>
              <dd>四川省21个地市州，2015年科技项目交换指标</dd>

              <dt>来源</dt>
              <dd>四川省科技局</dd>

              <dt>联系人</dt>
              <dd>李一</dd>

              <dt>联系电话</dt>
              <dd>028-8651551</dd>

              <dt>邮箱</dt>
              <dd>liyi@dsd.com</dd>
            </dl>
          </div>
        </div>

        <div class='response-items'>
          <h4>需求响应</h4>
          <div class='response-item'>
            <div class='col-sm-12'>
              响应日期：2016-04-01
            </div>
            <div>
              <div class='col-sm-3'>部门：工商局</div>
              <div class='col-sm-3'>联系人：李一</div>
              <div class='col-sm-3'>联系电话：028-86524152</div>
              <div class='col-sm-3'>邮箱：liyi@123.com</div>
            </div>
            <div class='col-sm-12'>
              内容说明：斯蒂芬反反复复粉色认为
            </div>
          </div>

          <div class='response-item'>
            <div class='col-sm-12'>
              响应日期：2016-04-01
            </div>
            <div>
              <div class='col-sm-3'>部门：工商局</div>
              <div class='col-sm-3'>联系人：李一</div>
              <div class='col-sm-3'>联系电话：028-86524152</div>
              <div class='col-sm-3'>邮箱：liyi@123.com</div>
            </div>
            <div class='col-sm-12'>
              内容说明：斯蒂芬反反复复粉色认为
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
