<!-- UI Router -->
<div id='ui-view-department-requirement' ui-view>
  <div id='department-requirement'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>需求清单 [10]</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="javascript:;">默认排序</a>
          </li>
          <li role="presentation">
            <a href="javascript:;">最新指标</a>
          </li>
          <li role="presentation">
            <a href="javascript:;">浏览量</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <div class='pull-right'>
        <a class='btn btn-primary' ui-sref='main.department.requirement.publish'>发布需求</a>
      </div>
      <ul class='list-box'>
        <li>
          <div class="panel panel-default ">
            <div class="panel-heading item-heading">
              <div class='pull-left'>
                <span>上传日期：2016-04-16</span>
                <span class='options'>
                  <a title='修改'>
                    <i class='fa fa-pencil'></i>
                  </a>
                  <a title='删除'>
                    <i class='fa fa-trash'></i>
                  </a>
                </span>
              </div>
              <div class='pull-right'>浏览：10</div>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left item-icon">
                  <a href="javascript:;" class='font-50'>
                    <i class='fa fa-line-chart'></i>
                  </a>
                </div>
                <div class="media-body">
                  <a ui-sref='main.department.requirement.detail'><h4 class="media-heading main-heading">科技交换指标
                  </h4></a>
                  <h5>摘要：四川省21个地市州，2015年科技项目交换指标</h5>
                  <div class='row font-13 margin-top14'>
                    <div class='col-sm-3'>来源：四川省科技局</div>
                    <div class='col-sm-3'>联系人：李一</div>
                    <div class='col-sm-3'>联系电话：028-86524152</div>
                    <div class='col-sm-3'>邮箱：sdfsd@sdfsdf.com</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
