<!-- UI Router -->
<div id='ui-view-department-requirement' ui-view>
  <div id='department-requirement'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>需求清单 [10]</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="javascript:;">默认排序</a>
          </li>
          <li role="presentation">
            <a href="javascript:;">指标发布日期</a>
          </li>
          <li role="presentation">
            <a href="javascript:;">浏览量</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <div class='pull-right'>
        <a class='btn btn-primary' ng-click='publishReq()'>发布需求</a>
      </div>
      <ul class='list-box'>
        <li ng-repeat= 'item in requirementList'>
          <div class="panel panel-default ">
            <div class="panel-heading item-heading">
              <div class='pull-left'>
                <span>上传日期：{{item.CREATE_TIME | date:'yyyy-MM-dd'}}</span>
                <span class='options'>
                  <a title='修改' ng-click='updateReq(item)'>
                    <i class='fa fa-pencil'></i>
                  </a>
                  <a title='删除' ng-click='deleteReq(item.ID)'>
                    <i class='fa fa-trash'></i>
                  </a>
                </span>
              </div>
              <div class='pull-right'>浏览：{{item.VISIT_COUNT}}</div>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left item-icon">
                  <img ng-src='../../styles/images/department/chengguo.png'/>
                </div>
                <div class="media-body">
                  <a ui-sref='main.department.requirement.detail({ID:item.ID})'>
                    <h4 class="media-heading main-heading">{{item.REQUIREMENT_NAME}}
                    </h4>
                  </a>
                  <h5>摘要：{{item.REQUIREMENT_DESC}}</h5>
                  <div class='row font-13 margin-top14'>
                    <div class='col-sm-3'>来源：{{item.DEP_NAME}}</div>
                    <div class='col-sm-3'>联系人：{{item.LINKMAN}}</div>
                    <div class='col-sm-3'>联系电话：{{item.CONTACT_PHONE
}}</div>
                    <div class='col-sm-3'>邮箱：{{item.EMAIL}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<!-- Add user modal -->
<script type='text/ng-template' id='add-req-modal.html'>
  <form class="form-horizontal example-add-modal" name='reqAddForm'>

    <div class='modal-header'>
      <i class="fa fa-server"></i>
      {{Modal.type}}需求
      <button type='button' class='close' data-dismiss='modal' ng-click='Modal.cancel()'>&times;</button>
    </div>
    <div class='modal-body'>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">需求名称
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='req.REQUIREMENT_NAME' required>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">需求简介
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='req.REQUIREMENT_DESC' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系人
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='req.LINKMAN' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">联系电话
          <span class='require-sign'>*</span>:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='req.CONTACT_PHONE' required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">邮箱:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model='req.EMAIL'>
        </div>
      </div>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' ng-disabled="userAddForm.$invalid" type='submit' ng-click='Modal.confirm(reqAddForm.$valid)'>提交</button>
      <button class='btn btn-default' type='button' ng-click='Modal.cancel()'>取消</button>
    </div>
  </div>
</form>
</script>
