<div id='department-summary'>
  <div class='row'>
    <div class='col-lg-3 col-md-6 left right'>
      <div class='panel panel-primary' ui-sref='main.department.inventory' style='cursor:pointer'>
        <div class='panel-heading'>
          <div class='row'>
            <div class='col-xs-3'>
              <i class='fa fa-list-alt fa-3x'></i>
            </div>
            <div class='col-xs-9 text-right'>
              <div class='font-22'>{{Count.data_resource_number}}</div>
              <div>部门资源</div>
            </div>
          </div>
        </div>
        <div class='panel-footer font-20'>
          本月新增
          <span class='font-20'>+{{Count.data_resource_number_inc}}</span>
        </div>
      </div>
    </div>

    <div class='col-lg-3 col-md-6 right'>
      <div class='panel panel-green' ui-sref='main.department.share' style='cursor:pointer'>
        <div class='panel-heading'>
          <div class='row'>
            <div class='col-xs-3'>
              <i class='fa fa-share-square-o fa-3x'></i>
            </div>
            <div class='col-xs-9 text-right'>
              <div class='font-22'>{{Count.data_apply_number}}</div>
              <div>共享资源</div>
            </div>
          </div>
        </div>
        <div class='panel-footer'>
          本月新增
          <span class='font-20'>+{{Count.data_apply_number_inc}}</span>
        </div>
      </div>
    </div>

    <div class='col-lg-3 col-md-6 right'>
      <div class='panel panel-yellow' ui-sref='main.department.requirementConfirm' style='cursor:pointer'>
        <div class='panel-heading'>
          <div class='row'>
            <div class='col-xs-3'>
              <i class='fa fa-commenting-o fa-3x'></i>
            </div>
            <div class='col-xs-9 text-right'>
              <div class='font-22'>{{Count.data_req_number}}</div>
              <div>需求清单</div>
            </div>
          </div>
        </div>
        <div class='panel-footer'>
          本月新增
          <span class='font-20'>+{{Count.data_req_number_inc}}</span>
        </div>
      </div>
    </div>

    <div class='col-lg-3 col-md-6 right'>
      <div class='panel panel-red' ui-sref='main.department.audit' style='cursor:pointer'>
        <div class='panel-heading'>
          <div class='row'>
            <div class='col-xs-3'>
              <i class='fa fa-file-text fa-3x'></i>
            </div>
            <div class='col-xs-9 text-right'>
              <div class='font-22'>{{Count.data_apply_wait_number}}</div>
              <div>待审核资源</div>
            </div>
          </div>
        </div>
        <div class='panel-footer' style='padding:24px'></div>
      </div>
    </div>
  </div>

  <div class='row panel-list'>
    <div class='col-sm-6 left'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class='pull-left'>待审核资源（{{auditTotal}}）</div>
          <div class='pull-right'>
            <a ng-click='auditMore()'>更多...</a>
          </div>
        </div>
        <div class='panel-body' cg-busy="{promise:mainAuditPromise,message:'加载中',backdrop:backdrop,delay:delay,minDuration:minDuration}">
          <!-- Table -->
          <table class='table table-hover table-striped'>
            <thead>
              <tr>
                <th>申请日期</th>
                <th>资源名称</th>
                <th>提供部门</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='invtItem in toAuditList'>
                <td title='{{invtItem.create_time |date:"yyyy-MM-dd HH:mm:ss"}}'>{{invtItem.create_time |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td title='{{invtItem.resource_name}}'>
                  <a ui-sref='main.department.inventory.detail({ID:invtItem.data_quota_id})'>
                    <pre>{{invtItem.resource_name}}</pre>
                  </a>
                </td>
                <td title='{{invtItem.release_dep_name}}'>{{invtItem.release_dep_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class='col-sm-6 right'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class='pull-left'>最新需求列表（{{reqTotal}}）</div>
          <div class='pull-right'>
            <a ng-click='reqMore()'>更多...</a>
          </div>
        </div>
        <div class='panel-body' cg-busy="{promise:mainReqPromise,message:'加载中',backdrop:backdrop,delay:delay,minDuration:minDuration}">
          <!-- Table -->
          <table class='table table-hover table-striped'>
            <thead>
              <tr>
                <th>响应日期</th>
                <th>需求发布日期</th>
                <th>需求名称</th>
                <th>提供部门</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='resItem in requireToConfirmList'>
                <td title='{{resItem.response_time |date:"yyyy-MM-dd HH:mm:ss"}}'>{{resItem.response_time |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td title='{{resItem.create_time| date:"yyyy-MM-dd HH:mm:ss"}}'>{{resItem.create_time| date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td title='{{resItem.requiement_name}}'>
                  <a ui-sref='main.department.requirement.detail({ID:resItem.id})'>{{resItem.requiement_name}}</a>
                </td>
                <td title='{{resItem.dep_name}}'>{{resItem.dep_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='row panel-list'>
    <div class=''>
      <div class="panel panel-default panel-follow-depart">
        <div class="panel-heading">
          <div class='pull-left'>关注部门</div>
        </div>
        <div class='panel-body'>
          <div class='focus-bureau-list'>
            <div class='col-md-12 add-focus-option'>
              <button title='添加关注部门' class="btn btn-default" ng-click='depSelect.show = true'>
                <i class='fa fa-plus'></i>
              </button>
              <div class='dep-select' ng-show='depSelect.show'>
                <div style='display:inline-block' isteven-multi-select input-model="parentObj.deptAllList" output-model="parentObj.outputAllDeptList" button-label="icon dep_name" item-label="icon dep_name" tick-property="ticked" max-labels="5" max-height="250px" on-open='openFn()'></div>
                <div class='btn btn-group'>
                  <button class='btn btn-primary' ng-click='followDep()'>关注</button>
                </div>
              </div>
            </div>
            <div ng-repeat='bureau in followDeptList' class='bureau-item col-md-1'>
              <a ui-sref='main.inventory.detail({departmentID: bureau.dep_id})' class='thumbnail'>
                <img ng-src='styles/images/bureau/{{::bureau.dep_en_name}}' title='{{::bureau.dep_name}}'>
              </a>
              <div class="caption">
                {{bureau.dep_short_name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
