<div id='requirement-detail'>
  <div class=" top panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-rss"> 需求明细</i>
    </div>
    <table>
      <table class="table table-bordered table-condensed table-hover table-striped text-center">
        <tr>
          <td>需求名称</td>
          <td>{{RequirementDetail.detail.REQUIREMENT_NAME}}</td>
        </tr>
        <tr>
          <td>需求简介</td>
          <td>{{RequirementDetail.detail.REQUIREMENT_DESC}}</td>
        </tr>
        <tr>
          <td>需求来源</td>
          <td>{{RequirementDetail.detail.DEP_NAME}}</td>
        </tr>
        <tr>
          <td>联系人</td>
          <td>{{RequirementDetail.detail.LINKMAN}}</td>
        </tr>
        <tr>
          <td>联系电话</td>
          <td>{{RequirementDetail.detail.CONTACT_PHONE}}</td>
        </tr>
        <tr>
          <td>邮箱</td>
          <td>{{RequirementDetail.detail.EMAIL}}</td>
        </tr>
      </table>
    </table>

  </div>

  <div class="bottom panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-globe"> 需求响应</i>
    </div>
    <div class="panel-body">
      <textarea placeholder='请输入响应内容...' class="form-control" rows="4"></textarea>
      <br />
      <button class='btn btn-info btn-sm pull-right'>提 交</button>
      <div class='split'></div>
      <button class='btn btn-default btn-sm pull-right'>关 注</button>
    </div>
    <ul class="list-group">
      <li ng-repeat='detail in RequirementDetail.list' class="list-group-item">
        <article class='head'>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-align-left"> 部门：{{detail.DEP_NAME}} {{detail.PERSON_NAME}}</span>
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-earphone"> 电话：{{detail.PHONE}}</span>
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-comment"> 邮箱：{{detail.EMAIL}}</span>
          </button>
        </article>
        <article class='body'>
          {{detail.RESPONSE_CONTENT}}
        </article>
      </li>
    </ul>
  </div>

</div>
