<div id='requirement-detail'>
  <div class=" top panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-rss"> 需求明细</i>
    </div>
    <table>
      <table class="table table-bordered table-condensed table-hover table-striped text-center">
        <tr>
          <td>需求名称</td>
          <td></td>
        </tr>
        <tr>
          <td>需求简介</td>
          <td></td>
        </tr>
        <tr>
          <td>需求来源</td>
          <td></td>
        </tr>
        <tr>
          <td>联系人</td>
          <td></td>
        </tr>
        <tr>
          <td>联系电话</td>
          <td></td>
        </tr>
        <tr>
          <td>邮箱</td>
          <td></td>
        </tr>
      </table>
    </table>

  </div>

  <div class="bottom panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-globe"> 需求响应</i>

    </div>
    <div class="panel-body">
      <textarea class="form-control" rows="3"></textarea>
      <br />
      <button class='btn btn-info pull-right'>提 交</button>
      <div class='split'></div>
      <button class='btn btn-default pull-right'>关 注</button>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <article class='head'>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-align-left"> 部门：工商局 张三</span>
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-earphone"> 电话：7412379125</span>
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-comment"> 邮箱：fffd@163.com</span>
          </button>
        </article>
        <article class='body'>
          dfadfasfaaaaaaaaaaaaaaaaaaaaaaaaaa
        </article>
      </li>
    </ul>
  </div>

</div>
