<div ui-view id='requirement-main' class='container'>

  <ol class="breadcrumb">
    <li><i class="fa fa-calendar-check-o"> 需求清单</i></li>
    <section class='pull-right'>
      <button class='btn btn-default btn-xs'>需求清单总计
        <span class='badge'>14</span>
      </button>
      <button class='btn btn-default btn-xs'>需求部门
        <span class='badge'>14</span>
      </button>
      <button class='btn btn-default btn-xs'>需求已响应
        <span class='badge'>14</span>
      </button>
    </section>
  </ol>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='fa fa-minus-square-o'> 上传日期：2016-04-16</i>
    </div>
    <div class='panel-body'>
      <div class='content'>
        <a ui-sref='main.inventory.detail'>
          <div class='icon organization test pull-left'></div>
          <div class='information pull-left'>
            <h1>科技成果交换指标</h3>
            <h2>摘要：四川省21个地市州 2015年科技项目交换指标</h5>
            <ul class='list-inline'>
              <li>提供部门：四川省科技局</li>
              <li>联系人：李一</li>
              <li>联系方式：028-8783887</li>
              <li>发布日期：2016-02-13</li>
            </ul>
          </div>
        </a>
        <div class='operation pull-right'>
          需求已响应
        </div>
      </div>
    </div>
  </div>
</div>
