<!-- UI Router -->
<div id='ui-view-requirement' ui-view>
  <div id='requirement-main'>
    <!-- BEGIN MAIN -->
    <div class='container'>
      <div class='row'>

        <div class='requirement-main'>
          <div class='requirement-info'>
            <div class='pull-left'>
              <ol class="breadcrumb font-13">
                <li>
                  主页
                </li>
                <li class="active">需求清单</li>
              </ol>
            </div>
            <div class='pull-right'>
              <ul class="nav nav-pills">
                <li role="presentation">
                  需求清单总计（100）
                </li>
                <li role="presentation">
                  需求部门（10）
                </li>
                <li role="presentation">
                  需求已响应（10）
                </li>
              </ul>
            </div>
          </div>

          <!-- requirement inventory list -->
          <div class='requirement-list'>
            <ul class='list-box'>
              <li>
                <div class="panel panel-default ">
                  <div class="panel-heading item-heading">
                    <div class='pull-left'>发布日期：2016-04-16</div>
                  </div>
                  <div class="panel-body">
                    <div class="media">
                      <div class="media-left item-icon">
                        <a href="#" >
                          <img ng-src='../../styles/images/department/jigou.png' />
                        </a>
                      </div>
                      <div class="media-body">
                        <a ui-sref='main.requirement.detail'>
                          <h4 class="media-heading main-heading">科技机构交换指标
                          </h4>
                        </a>
                        <h5>摘要：四川省21个地市州，2015年科技项目交换指标</h5>
                        <div class='item-label'>
                          <label class='label label-success'>需求已响应</label>
                        </div>
                        <div class='row font-13 margin-top14'>
                          <div class='col-sm-3'>来源：四川省科技局</div>
                          <div class='col-sm-3'>联系人：李一</div>
                          <div class='col-sm-3'>联系电话：028-86524152</div>
                          <div class='col-sm-3'>邮箱：liyi@123.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="panel panel-default ">
                  <div class="panel-heading item-heading">
                    <div class='pull-left'>发布日期：2016-04-16</div>
                  </div>
                  <div class="panel-body">
                    <div class="media">
                      <div class="media-left item-icon">
                        <a href="#" >
                          <img ng-src='../../styles/images/department/chengguo.png' />
                        </a>
                      </div>
                      <div class="media-body">
                        <a ui-sref='main.requirement.detail'>
                          <h4 class="media-heading main-heading">科技成果交换指标
                          </h4>
                        </a>
                        <h5>摘要：四川省21个地市州，2015年科技项目交换指标</h5>
                        <div class='item-label'>
                          <label class='label label-success'>需求已响应</label>
                        </div>
                        <div class='row font-13 margin-top14'>
                          <div class='col-sm-3'>来源：四川省科技局</div>
                          <div class='col-sm-3'>联系人：李一</div>
                          <div class='col-sm-3'>联系电话：028-86524152</div>
                          <div class='col-sm-3'>邮箱：liyi@123.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="panel panel-default ">
                  <div class="panel-heading item-heading">
                    <div class='pull-left'>发布日期：2016-04-16</div>
                  </div>
                  <div class="panel-body">
                    <div class="media">
                      <div class="media-left item-icon">
                        <a href="#" >
                          <img ng-src='../../styles/images/department/xiangmu.png' />
                        </a>
                      </div>
                      <div class="media-body">
                        <a ui-sref='main.requirement.detail'>
                          <h4 class="media-heading main-heading">科技项目交换指标
                          </h4>
                        </a>
                        <h5>摘要：四川省21个地市州，2015年科技项目交换指标</h5>
                        <div class='item-label'>
                          <label class='label label-success'>需求已响应</label>
                        </div>
                        <div class='row font-13 margin-top14'>
                          <div class='col-sm-3'>来源：四川省科技局</div>
                          <div class='col-sm-3'>联系人：李一</div>
                          <div class='col-sm-3'>联系电话：028-86524152</div>
                          <div class='col-sm-3'>邮箱：liyi@123.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
