<div id='dashboard' class='container'>
  <section class='first-section row'>
    <div class='left col-md-4'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-home'> 部门列表</i>
        </div>
        <div class='panel-body'>
          <!-- Will be removed -->
          <div class='bureau-filter input-group'>
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-search'></span>
            </span>
            <input type='text' placeholder='请输入部门名称......' class='form-control'>
            <span ui-sref='main.inventory' class='input-group-addon'>检索</span>
          </div>
          <div class='bureau-list'>
            <div ng-repeat='bureau in Bureaus' class='bureau-item col-md-3'>
              <a ui-sref='main.inventory.detail({departmentID: bureau.ID})' class='thumbnail'>
                <img ng-src='../styles/images/bureau/{{::bureau.DEP_EN_NAME}}' title='{{::bureau.DEP_NAME}}'>
              </a>
              <div class="caption">
                {{bureau.DEP_SHORT_NAME}}
              </div>
            </div>
          </div>
          <!-- Will be removed --> 
        </div>
      </div>
    </div>
    <div class='right col-md-4'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-server'> 清单总览</i>
        </div>
        <div class='panel-body'>
          <wiserv-inventory-overview-chart/>
        </div>
      </div>
    </div>
    <div class='right col-md-4'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-share-alt'> 需求总览</i>
        </div>
        <div class='panel-body'>
          <wiserv-requirement-overview-chart/>
        </div>
      </div>
    </div>
  </section>
  <section class='second-section row'>
    <div class='left col-md-6'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-cart-arrow-down'> 最新资源</i>
        </div>
        <table class='table table-hover table-condensed table-striped'>
          <thead>
            <tr>
              <th>发布日期</th>
              <th>清单名称</th>
              <th>提供单位</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='inventory in Inventories'>
              <td>{{inventory.CREATE_TIME | date:'yyyy-MM-dd'}}</td>
              <td>{{inventory.DATA_NAME}}</td>
              <td>{{inventory.DEP_NAME}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='right col-md-6'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-pencil-square-o'> 最新需求</i>
        </div>
        <table class='table table-hover table-condensed table-striped'>
          <thead>
            <tr>
              <th>发布日期</th>
              <th>需求内容</th>
              <th>需求单位</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='requirement in Requirements'>
              <td>{{requirement.CREATE_TIME | date:'yyyy-MM-dd'}}</td>
              <td>{{requirement.REQUIREMENT_NAME}}</td>
              <td>{{requirement.DEP_NAME}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class='third-section row'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <i class='fa fa-bar-chart'> 关注部门指标</i>
      </div>
      <div class='panel-body'>
      <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="main.dashboard #shenggongshangju" aria-controls="shenggongshangju" role="tab" data-toggle="tab">省工商局</a></li>
            <li role="presentation"><a href="main.dashboard #shengdishuiju" aria-controls="shengdishuiju" role="tab" data-toggle="tab">省地税局</a></li>
            <li role="presentation"><a href="main.dashboard #shengguoshuiju" aria-controls="shengguoshuiju" role="tab" data-toggle="tab">省国税局</a></li>
            <li role="presentation"><a href="main.dashboard #shengjingxinwei" aria-controls="shengjingxinwei" role="tab" data-toggle="tab">省经信委</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="shenggongshangju">
              <table class='table table-hover table-condensed table-striped'>
                <thead>
                  <tr>
                    <th>发布日期</th>
                    <th>指标名称</th>
                    <th>共享频率</th>
                    <th>空间范围</th>
                    <th>数据级别</th>
                    <th>提供部门</th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='requirement in Requirements'>
                    <td>{{requirement.CREATE_TIME | date:'yyyy-MM-dd HH：mm：ss'}}</td>
                    <td>{{1}}</td>
                    <td>{{1}}</td>
                    <td>{{1}}</td>
                    <td>{{1}}</td>
                    <td>{{1}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="shengdishuiju">
              <table class='table table-hover table-condensed table-striped'>
                <thead>
                  <tr>
                    <th>发布日期</th>
                    <th>指标名称</th>
                    <th>共享频率</th>
                    <th>空间范围</th>
                    <th>数据级别</th>
                    <th>提供部门</th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='requirement in Requirements'>
                    <td>{{requirement.CREATE_TIME | date:'yyyy-MM-dd HH：mm：ss'}}</td>
                    <td>{{2}}</td>
                    <td>{{2}}</td>
                    <td>{{2}}</td>
                    <td>{{2}}</td>
                    <td>{{2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="shengguoshuiju">
              <table class='table table-hover table-condensed table-striped'>
                <thead>
                  <tr>
                    <th>发布日期</th>
                    <th>指标名称</th>
                    <th>共享频率</th>
                    <th>空间范围</th>
                    <th>数据级别</th>
                    <th>提供部门</th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='requirement in Requirements'>
                    <td>{{requirement.CREATE_TIME | date:'yyyy-MM-dd HH：mm：ss'}}</td>
                    <td>{{3}}</td>
                    <td>{{3}}</td>
                    <td>{{3}}</td>
                    <td>{{3}}</td>
                    <td>{{3}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="shengjingxinwei">
              <table class='table table-hover table-condensed table-striped'>
                <thead>
                  <tr>
                    <th>发布日期</th>
                    <th>指标名称</th>
                    <th>共享频率</th>
                    <th>空间范围</th>
                    <th>数据级别</th>
                    <th>提供部门</th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='requirement in Requirements'>
                    <td>{{requirement.CREATE_TIME | date:'yyyy-MM-dd HH：mm：ss'}}</td>
                    <td>{{4}}</td>
                    <td>{{4}}</td>
                    <td>{{4}}</td>
                    <td>{{4}}</td>
                    <td>{{4}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>

  </section>

</div>
