<div id='dashboard' class='container'>
  <section class='first-section row'>
    <div class='left col-md-4'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-home'> 部门列表</i>
        </div>
        <div class='panel-body'>
          <!-- Will be removed -->
          <div class='bureau-filter input-group'>
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-search'></span>
            </span>
            <input type='text' placeholder='请输入部门名称......' class='form-control'>
            <span ui-sref='main.inventory' class='input-group-addon'>检索</span>
          </div>
          <div class='bureau-list'>
            <div ng-repeat='bureau in Bureaus' class='bureau-item col-md-3'>
              <a ui-sref='main.inventory.detail({departmentID: bureau.id})' class='thumbnail'>
                <img ng-src='../styles/images/bureau/{{::bureau.dep_en_name}}' title='{{::bureau.dep_name}}'>
              </a>
              <div class="caption">
                {{bureau.dep_short_name}}
              </div>
            </div>
          </div>
          <!-- Will be removed -->
        </div>
      </div>
    </div>
    <div class='right col-md-4'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-server'> 指标总览</i>
        </div>
        <div class='quota_number panel-body'>
          <!-- <wiserv-inventory-overview-chart/> -->
          <div>指标总数<span class='num'>{{quota_number}}</span>个</div>
          <div>指标提供部门<span class='num'>{{quotaDepartment_number}}</span>个</div>

        </div>
      </div>
    </div>
    <div class='right col-md-4'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-share-alt'> 需求总览</i>
        </div>
        <div class='panel-body'>
          <!-- <wiserv-requirement-overview-chart/> -->
          <div>需求总数<span class='num'>{{require_number}}</span>个</div>
          <div>需求涉及部门<span class='num'>{{requireDepartment_number}}</span>个</div>

        </div>
      </div>
    </div>
  </section>
  <section class='second-section row'>
    <div class='left col-md-6'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-cart-arrow-down'> 最新指标</i>
          <div class="pull-right">更多...</div>
        </div>
        <table class='table table-hover table-condensed table-striped'>
          <thead>
            <tr>
              <th>发布日期</th>
              <th>指标名称</th>
              <th>提供部门</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='indicator in NewIndicators'>
              <td>{{indicator.create_time | date:'yyyy-MM-dd'}}</td>
              <td>{{indicator.quota_name}}</td>
              <td>{{indicator.share_dep}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='right col-md-6'>
      <div class='panel panel-default pannel-patch'>
        <div class='panel-heading'>
          <i class='fa fa-pencil-square-o'> 最新需求</i>
          <div class="pull-right">更多...</div>
        </div>
        <table class='table table-hover table-condensed table-striped'>
          <thead>
            <tr>
              <th>发布日期</th>
              <th>需求内容</th>
              <th>需求单位</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='requirement in Requirements'>
              <td>{{requirement.create_time | date:'yyyy-MM-dd'}}</td>
              <td>{{requirement.quota_name}}</td>
              <td>{{requirement.response_dep_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class='third-section row'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <i class='fa fa-bar-chart'> 关注部门指标</i>
        <div class="pull-right">更多...</div>
      </div>
        <div class='panel-body' >

              <uib-tabset active="activeForm">
                <uib-tab ng-repeat="followDep in followDeps" ng-click='select(followDep.follow_dep_id)' index="$index + 1" heading="{{followDep.follow_dep_name}}">
                  <table class='table table-hover table-condensed table-striped'>
                    <thead>
                      <tr>
                        <th>发布日期</th>
                        <th>指标名称</th>
                        <th>共享频率</th>
                        <th>空间范围</th>
                        <th>数据级别</th>
                        <th>提供部门</th>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat='indicator in followDepIndicators'>
                        <td>{{indicator.create_time | date:'yyyy-MM-dd'}}</td>
                        <td>{{indicator.quota_name}}</td>
                        <td>{{indicator.share_frequency}}</td>
                        <td>{{indicator.area_range}}</td>
                        <td>{{indicator.share_level}}</td>
                        <td>{{indicator.dep_name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
            </uib-tabset>

       </div>
    </div>
  </section>

</div>
