<div id='login' class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="login-main col-md-4">
      <div class='login-head'>
        <div class='logo'></div>
        <h4 class='title'>四川省数据注册发布平台</h4>
      </div>
      <div class='login-body'>
        <form>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="用户名">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-info-sign"></span>
            </span>
            <input type="password" class="form-control" placeholder="密码">
          </div>
          <button ng-click='login.submit()' class='btn btn-info'>登录</button>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
