<div id='main'>
  <nav class='navbar navbar-default navbar-patch'>
    <div class='container'>
      <a ui-sref="main.dashboard" class='logo pull-left'></a>
      <!-- Left Menu -->
      <ul class='nav nav-tabs pull-left'>
        <li ui-sref-active-eq="active">
          <a ui-sref='main.dashboard'><i class="fa fa-tachometer"> 首页</i></a>
        </li>
        <li ui-sref-active-eq="active">
          <a ui-sref='main.data-quota.list'><i class="fa fa-database"> 指标列表</i></a>
        </li>
        <li ui-sref-active-eq="active">
          <a ui-sref="main.department"><i class="fa fa-cogs"> 部门指标</i></a>
        </li>
      </ul>
      <!-- Right Admin Button -->
      <div class="btn-group pull-right btn-login">
        <a class="btn btn-default" ui-sref="main.admin.user">
          <i class="fa fa-user text-primary"></i>
          <strong><small>{{User.username}}</small></strong>
          <small>{{User.dep_name}}</small>
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-show='User.username==="admin"'><a ui-sref="main.admin.department">部门管理</a></li>
          <li class="divider"></li>
          <li><a ui-sref="main.admin.user">用户管理</a></li>
          <li class="divider"></li>
          <li><a ui-sref="login"><i class="fa fa-sign-out"> 退出</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id='ui-view-main' ui-view></div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class='text-center'>
      Copyright © 2005-2016 <em>勤智数码科技有限公司</em>
    </p>
  </div>
</nav>
</div>
